<div class="animated fadeIn">
    <tabset>
        <tab heading="Overview">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Duct-D-Fuser™ Terminal Outlets — Air Diffuser Grilles, Fittings, Assemblies, and Registers for HVAC Duct Systems</h4><br />
                <div class="card-text">
                    <p>McGill AirFlow manufactures sturdy, low-cost Duct-D-Fuser terminal outlets for exposed HVAC air distribution systems in large, open-area commercial and industrial facilities. Products include a variation of grilles, fittings, assemblies, and registers.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/ddf/ddfuser_install.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <br />
                    <p>The Model DDF-G Series Grilles are constructed to be flush mounted to curved or flat surfaces and designed to provide directional throw airflow performance characteristics similar to tap-mounted grilles.</p>
                    <p>The Type SP In-Duct Fittings and Assemblies are constructed of 360° perforated duct to provide low-throw, low-draft airflow performance.</p>
                    <p>Model DDF-R Series Registers are constructed of extruded aluminum and are available in deflection, slot, or drum register designs.</p>
                    <p>Because of their lighter weight, Duct-D-Fuser products are easier to install and less expensive to manufacture and ship than conventional rectangular tap-type diffusers. If local control of direction, volume, or velocity is required, refer to McGill AirFlow's Factair™ terminal outlet information.</p>
                </div>
            </div>
        </tab>
        <tab heading="DDF-G Series Grilles">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Model DDF-G Series Grilles</h4><br />
                <div class="card-text">
                    <p>Model DDF-GF grilles have a mitered, offset, galvanized sheet metal (optional paintable galvanized steel, 304 and 316 stainless steel, and aluminum) frame for easy installation on a round, flat oval, or rectangular duct assembly or fitting body using sheet metal screws.</p>
                    <p>The Model DDF-GOBD grille (not available in aluminum) incorporates an integrated, opposed blade damper for balancing volume flow rates among grilles.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/ddf/typea_img.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <br />
                    <p>There are 31 standard sizes. The Model DDF-GF grille can be field or factory installed. Factory-installed units incorporate closed cell foam gasketing for a dust-free seal.</p>
                </div>
                <div>
                    <br />
                    <figure class="mcgill-picture">
                        <figcaption class="top">Model DDF-GF (framed grille, mounted on duct)</figcaption>
                        <img src="assets/img/ddf/ddfgf_illus.jpg">
                    </figure>
                    <br />
                    <figure class="mcgill-picture">
                      <figcaption  class="top">Model DDF-GODB (framed grille with integrated, opposed blade damper, mounted on duct, adjustable volume flow rate)</figcaption>
                        <img src="assets/img/ddf/ddfgobd_illus.jpg">
                    </figure>
                    <br />
                    <figure class="mcgill-picture">
                      <figcaption  class="top">Available Sizes for DDF-G Grilles</figcaption>
                        <img src="assets/img/ddf/ddfg_table.jpg">
                    </figure>
                </div>
            </div>
        </tab>
        <tab heading="DDF-G Series Assemblies">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Model DDF-G Series Assemblies</h4><br />
                <div class="card-text">
                    <p>Model DDF-G series assemblies use two or more factory-mounted grilles on a single run of spiral lockseam or longitudinal seam duct. Outlet opening sizes will vary along the length of the duct system. The selection of one standard Model DDF-GF framed grille size based on the largest opening size offers a uniform appearance. A more economical solution is to select standard Model DDF-G unframed grilles large enough to cover each individual opening. There is no maximum diameter except as that limited by manufacturing capabilities.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/ddf/ddfuser_install.jpg">
                    </figure>
                    <br />
                    <figure class="mcgill-picture">
                      <figcaption  class="top">Model DDF-G Series Assembly <br />(framed or unframed grille, mounted on duct)</figcaption>
                        <img src="assets/img/ddf/ddfg_assembly_illus.jpg">
                    </figure>
                </div>
            </div>
        </tab>
        <tab heading="DDF-G Series Fittings">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Model DDF-G Series Fittings</h4><br />
                <div class="card-text">
                    <p>Model DDF-GB fittings incorporate an unframed DDF-G Series grille on a fitting body constructed from the appropriate SMACNA gauge material. The grille is sized to exactly fit the cutout required for the desired air volume. Model DDF-GB fittings are available in diameters ranging from 6 through 60 inches with 30° to 180° venting.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/ddf/ddfgb_img.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>The Model DDF-GD fitting allows airflow modulation through the use of an internal barrel damper. Wing nuts mounted inside slots on either side of the grille provide accurate volume flow adjustments. The Model DDF-GD fitting incorporates unframed grilles only and is available in diameters ranging from 6 through 36 inches with 30° to 180° venting.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/ddf/ddfgd_img.jpg">
                    </figure>
                    <br />
                    <figure class="mcgill-picture">
                      <figcaption  class="top">Model DDF-GB Fitting<br />(unframed grille, no internal barrel damper, mounted on fitting body)</figcaption>
                        <img src="assets/img/ddf/ddfgdb_illus.jpg">
                    </figure>
                    <br />
                    <figure class="mcgill-picture">
                      <figcaption  class="top">Model DDF-GD Fitting (unframed grille only, with<br />internal barrel damper, mounted on fitting body, adjustable volume flow rate)<br /></figcaption>
                        <img src="assets/img/ddf/ddfgd_illus.jpg">
                    </figure>
                </div>                
            </div>
        </tab>
        <tab heading="DDF-SP In-Duct Fitting">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Type SP, Model DDF-SP In-Duct Fitting</h4><br />
                <div class="card-text">
                    <p>The Model DDF-SP in-duct fitting is built from 360° perforated, light-gauge, ribbed spiral lockseam duct with a 23 percent open area. Standard material construction is galvanized steel (paintable galvanized, cold-rolled steel, 304 and 316 stainless steels, and aluminum are available).</p>
                    <p>Model DDF-SP in-duct fittings are available in continuous lengths of 16 inches through 240 inches. Standard gauge-to-diameter relationships are 28 gauge for 9- through 42-inch diameters, and 26 gauge for 44- through 60-inch diameters. Model DDF-SP assemblies are outfitted with standard slip couplings for easy joining to adjacent duct sections.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                      <figcaption  class="top">Type SP, Model DDF-SP in-duct fitting (assembled to <br />duct with coupling, 360° diffused throw)</figcaption>
                        <img src="assets/img/ddf/typesp_tech1.jpg">
                        <img src="assets/img/ddf/typesp_tech2.jpg">
                    </figure>
                </div>                
            </div>
        </tab>
        <tab heading="DDF-SP Assembly">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Type SP, Model DDF-SP Assembly</h4><br />
                <div class="card-text">
                    <p>The Model DDF-SP assembly is also built from 360° perforated, light-gauge, ribbed spiral lockseam duct with a 23 percent open area in gauges as noted for the in-duct fitting. The DDF-SP assembly ranges in length from 60- to 240-inches and incorporates appropriately sized orifice plates at predetermined locations along the assembly length for uniform airflow distribution. All DDF-SP assemblies must be designed using McGill AirFlow's Duct-D-Fuser design program.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/ddf/ddfdspa_img.jpg">
                    </figure>
                </div>                
                <div class="card-text">
                    <h6>System Design</h6>
                    <p>Contact the McGill AirFlow sales engineering office or Duct Express™ outlet nearest you to request a free duct system design analysis of your next project</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                      <figcaption  class="top">Type SP, Model DDF-SP Assembly (360° diffused throw)</figcaption>
                        <img src="assets/img/ddf/typesp_techa.jpg">
                        <img src="assets/img/ddf/typesp_techb.jpg">
                    </figure>
                </div>
            </div>
        </tab>
        <tab heading="DDF-R Series Deflection Registers">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Model DDF-R Series Deflection Registers</h4><br />
                <div class="card-text">
                    <p>McGill AirFlow's standard and universal Model DDF-R series deflection registers are constructed from extruded aluminum and finished in white (w) enamel or satin anodized (sa). The universal models are fabricated with a slight profile, which allows assembly to any duct curvature.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/ddf/ddfdspa_img.jpg">
                    </figure>
                </div>                
                <div class="card-text">
                    <h6>System Design</h6>
                    <p>Contact the McGill AirFlow sales engineering office or Duct Express™ outlet nearest you to request a free duct system design analysis of your next project</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                      <figcaption  class="top">Type SP, Model DDF-SP Assembly (360° diffused throw)</figcaption>
                        <img src="assets/img/ddf/ddfrudds_img.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>All models have gaskets on the margins for a dust-free, airtight seal. They are available in a minimum size of 3 inches by 10 inches to a maximum size of 12 inches by 36 inches (see table). They offer single (vertical) and double (vertical and horizontal) deflection, and are equipped with adjustable blades. The optional air scoop has face screw adjustment(s) for volume flow rate.</p>
                </div>
                <br />                
                <div>
                    <figure class="mcgill-picture">
                      <figcaption  class="top">Model DDF-RUSD Register<br />(universal single deflection with adjustable scoop)</figcaption>
                        <img src="assets/img/ddf/ddfrudds_illus.jpg">
                    </figure>
                </div>
                <br />                
                <div>
                    <figure class="mcgill-picture">
                      <figcaption  class="top">Model DDF-RDDS Register<br />(standard, double deflection with air scoop)</figcaption>
                        <img src="assets/img/ddf/ddfrddsregisternew.jpg">
                    </figure>
                </div>
                <br />                
                <div>
                    <figure class="mcgill-picture">
                      <figcaption  class="top">Available Sizes for the DDF-RUSD and DDF-RUDD Registers</figcaption>
                        <img src="assets/img/ddf/rusdrudd_table.jpg">
                    </figure>
                </div>
                <br />                
                <div>
                    <figure class="mcgill-picture">
                      <figcaption  class="top">Available Sizes for the DDF-RSD and DDF-RDD Registers</figcaption>
                        <img src="assets/img/ddf/rsdrdd_table.jpg">
                    </figure>
                </div>                
            </div>
        </tab>
        <tab heading="DDF-RLS Series Linear Slot Registers">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Model DDF-RLS Series Linear Slot Registers</h4><br />
                <div class="card-text">
                    <p>Model DDF-RLS linear slot registers are extruded from aluminum with a standard satin anodized finish. They can also be ordered with a white (w) enamel finish. And like the Model DDF-R deflection registers, they too have gaskets on their margins. The air scoop with face screw adjustments is standard on registers with 1-inch-wide slots but is not available on registers with 1/2- or 3/4-inch-wide slots.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/ddf/ddfrls42-2_img.jpg">
                    </figure>
                </div>                
                <div class="card-text">
                    <p>They are available in lengths from 6 inches to 48 inches in 6-inch increments and can be used on 6-inch to 30-inch diameter duct. Model DDF-R linear slot registers offer three slot widths with up to 4 slots (see table).</p>
                </div>
                <br />
                <div>
                    <figure class="mcgill-picture">
                      <figcaption  class="top">Model DDF-RLS4S-4 linear slot register (number 4, [1-inch] slot width with air scoop, satin anodized finish, and 4 linear slots)</figcaption>
                        <img src="assets/img/ddf/ddfrls2s-4new.jpg">
                    </figure>
                </div>
                <br />
                <div>
                    <figure class="mcgill-picture">
                      <figcaption  class="top">Available Sizes for the DDF-RLS Registers</figcaption>
                        <img src="assets/img/ddf/ddfrls_table.jpg">
                    </figure>
                </div>
            </div>
        </tab>
        <tab heading="DDF-RD Series Drum Registers">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Model DDF-RD Series Drum Registers</h4><br />
                <div class="card-text">
                    <p>These drum registers are ideal for exposed ductwork applications where long throws and adjustable air patterns are required. Typical installations include commercial kitchens and laundries, food-processing plants, manufacturing facilities, multi-purpose buildings, recreational centers, sports arenas, shopping malls, and warehouses.</p>
                    <p>The Model DDF-RD drum register is easily installed on the perimeter of round or flat oval spiral duct. The curved frame is rolled to the diameter of round duct or minor axis dimension of flat oval duct, insuring a perfect fit every time. This eliminates the need for costly saddle taps and will save you time and money during the installation process.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/ddf/ddfrdl_img.jpg">
                    </figure>
                </div>                
                <div class="card-text">
                    <p>These drum registers are made of heavy gauge aluminum and are available in heights of 4, 6, and 8 inches and lengths up to 60 inches, which makes them versatile to any project.</p>
                    <p>To provide additional directional control of airflow, the drum register is able to rotate +/-40 degrees up or down and the blades, spaced two inches apart, pivot side to side from the front fascia. This gives the drum register a clean architectural look to any exposed ductwork system.</p>
                </div>
                <br />
                <div>
                    <figure class="mcgill-picture">
                      <figcaption  class="top">Model DDF-RDS Drum Register (with optional damper)</figcaption>
                        <img src="assets/img/ddf/ddfrdl_illus.jpg">
                    </figure>
                </div>
                <br />
                <div>
                    <figure class="mcgill-picture">
                      <figcaption  class="top">Available Sizes for the DDF-RD Drum Registers</figcaption>
                        <img src="assets/img/ddf/2.jpg">
                    </figure>
                </div>
            </div>
        </tab>
        <tab heading="Performance">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Performance of Duct-D-Fuser™ Terminal Outlet Grilles and Registers</h4><br />
                <div class="card-text">
                    <p>Reference McGill AirFlow's Engineering <a href="assets/img/ddf/ER159.pdf" target="_blank">Report No. 159</a> Type A DUCT-D-FUSER Grille Performance and Design Methodology for guidelines in designing exposed air distribution systems using this unique flush-mounted air diffuser for round, flat oval, and rectangular duct systems. This report gives detailed airflow and acoustical performance data as well as a product specification.</p>
                    <p>Also reference the performance data sheets for McGill's grilles and registers. <a href="assets/img/ddf/DDFdataSheet.pdf" target="_blank">Performance Data Sheets (.pdf)</a></p>
                </div>
            </div>
        </tab>
    </tabset>
</div>