<div class="animated fadeIn">
    <tabset>
        <tab heading="Overview">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Access Doors — Standard, Hinged/Latched, and Pressure-Relief for Duct Systems</h4><br />
                <div class="card-text">
                    <p>McGill AirFlow's access doors provide a convenient way to reach or inspect fire dampers and other equipment located inside a duct system. To meet the needs of a variety of applications, we offer three types of access doors: standard bolted, hinged/latched, and pressure-relief doors.</p>
                    <p>Standard bolted access doors are available in galvanized steel, stainless steel (type 304 or 316), pvc-coated steel, black iron (16 gauge) and aluminum. We can supply them loose or manifolded to the duct. Hinged/latched and pressure-relief access doors are also available in galvanized steel, stainless steel (type 304 or 316), pvc-coated steel, black iron (16 gauge), and aluminum. They can be provided loose or manifolded to the duct, or attached to fitting bodies.</p>
                    <p>Specifications for access doors can be found in McGill AirFlow's publication Recommended Specifications for Commercial and Industrial Duct Systems.</p>
                </div>
            </div>
        </tab>
        <tab heading="Standard Bolted Access Doors">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Standard Bolted Access Doors</h4><br />
                <div class="card-text">
                    <p>Our economical standard bolted access door provides easy access to the interior of duct systems. To gain access, simply turn the hand knobs and remove the door. No special tools or wrenches are needed.</p>
                    <p>This oval door is designed for easy installation on round, flat oval, or rectangular duct. It is constructed of an outer door connected to an inner plate by spring-loaded carriage bolts. Once the inner plate has been inserted in the duct opening, the carriage bolts can be tightened by turning the hand knobs.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/accessdoors/ad_install.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>An inert cellular sponge gasket fixed to the inner plate keeps the door leak free at pressures of more than 20 inches wg. The door has permanently bonded polyester insulation to prevent moisture from forming on its outer surface. An adhesive template is provided for field installations so that the duct opening can be cut without expensive layout or measuring. Doors are available for single-wall duct or double-wall duct with 1-inch-thick insulation.</p>
                </div>
                <hr>
                <div class="card-text">
                    <b>Available Sizes—Standard Bolted Access Doors</b>
                    <div class="card-text">
                        <table cellpadding=5>
                                    <thead>
                                        <tr>
                                            <td>Nominal Opening<br />(inches)</td>
                                            <td>Applicable Range of round diameters, minor axes of flat oval,<br />flat spans of flat oval, or rectangular dimensions (inches)</td>
                                            <td>Material Thickness<br />(gauge)</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>10 x 6</td>
                                            <td>5-30</td>
                                            <td>22</td>
                                        </tr>
                                        <tr>
                                            <td>16 x 12*</td>
                                            <td>8-60</td>
                                            <td>20</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr><td colspan="3">* Also available for double-wall applications with 1-inch-thick insulation</td></tr>
                                    </tfoot>
                        </table>
                  </div>
                </div>
                
                <div>
                    <figure class="mcgill-picture mcgill-float-left">
                        <img src="assets/img/accessdoors/swc.gif">
                    </figure>
                    <figure class="mcgill-picture mcgill-float-left">
                        <img src="assets/img/accessdoors/no_contour.gif">
                    </figure>
                    <figure class="mcgill-picture mcgill-float-left">
                        <img src="assets/img/accessdoors/dwc.gif">
                    </figure>
                    <figure class="mcgill-picture mcgill-float-left">
                        <img src="assets/img/accessdoors/swf.gif">
                    </figure>
                    <figure class="mcgill-picture mcgill-float-left">
                        <img src="assets/img/accessdoors/no_flat-copy.gif">
                    </figure>
                    <figure class="mcgill-picture mcgill-float-left">
                        <img src="assets/img/accessdoors/dwf.gif">
                    </figure>
                </div>
            </div>
        </tab>
        <tab heading="Pressure-Relief Access Doors">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Pressure-Relief Access Doors</h4><br />
                <div class="card-text">
                    <p>Our pressure-relief access door (for positive pressure systems) provides both convenient access and protection against duct collapse, which can occur downstream when a fire damper closes. During nominal operation, the cover is held in place against a sealing gasket by special latches. To gain access, simply open the latches and remove the door by its handle. If a closed damper causes substantial negative pressure immediately downstream at the access door location, the cover of the access door automatically opens inward to relieve pressure and prevent collapse. A retaining chain prevents the cover from being pulled into the ductwork.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/accessdoors/press.relief.doors1.jpg">
                    </figure>
                    <figure class="mcgill-picture">
                        <img src="assets/img/accessdoors/press.relief.doors2.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <hr>
                    <b>Available Sizes—Standard Round Relief Access Doors</b>
                    <div class="card-text">
                        <table cellpadding=5>
                          <thead>
                              <tr>
                                  <td>Nominal Opening<br />(inches)</td>
                                  <td>Applicable Range of flat spans of rectangular or flat oval duct<br />equal to or greater than the round nominal opening</td>
                                  <td>Material Thickness<br />(gauge)</td>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>8</td>
                                  <td></td>
                                  <td>22</td>
                              </tr>
                              <tr>
                                  <td>10</td>
                                  <td></td>
                                  <td>22</td>
                              </tr>
                              <tr>
                                  <td>12</td>
                                  <td></td>
                                  <td>22</td>
                              </tr>
                              <tr>
                                  <td>18</td>
                                  <td></td>
                                  <td>22</td>
                              </tr>
                              <tr>
                                  <td>24</td>
                                  <td></td>
                                  <td>22</td>
                              </tr>
                          </tbody>
                        </table>
                  </div>
                </div>
            </div>
        </tab>

        <tab heading="Hinged Access Doors">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Hinged/Latched Access Doors</h4><br />
                <div class="card-text">
                    <p>For negative-pressure systems that require frequent access, we offer hinged and a dual-latched access doors that can be operated easily without the need for screws or bolts. These doors are constructed to open against negative duct pressure.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/accessdoors/hinged.access.doors1.jpg">
                    </figure>
                    <figure class="mcgill-picture">
                        <img src="assets/img/accessdoors/hinged.access.doors2.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <hr>
                    <b>Available Sizes - Standard Hinged Access Doors</b>
                    <div class="card-text">
                        <table cellpadding=5>
                          <thead>
                              <tr>
                                  <td rowspan="2">Nominal Opening<br />(inches)</td>
                                  <td colspan="2">Material Thickness (gauge)</td>
                              </tr>
                              <tr class="mcgill-mediumblue">
                                  <td>Door</td>
                                  <td>Frame</td>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>6 x 6</td>
                                  <td>24</td>
                                  <td>22</td>
                              </tr>
                              <tr>
                                  <td>8 x 8</td>
                                  <td>24</td>
                                  <td>22</td>
                              </tr>
                              <tr>
                                  <td>10 x 10</td>
                                  <td>24</td>
                                  <td>22</td>
                              </tr>
                              <tr>
                                  <td>12 x 12</td>
                                  <td>24</td>
                                  <td>22</td>
                              </tr>
                              <tr>
                                  <td>14 x 14</td>
                                  <td>24</td>
                                  <td>22</td>
                              </tr>
                              <tr>
                                  <td>16 x 16</td>
                                  <td>24</td>
                                  <td>22</td>
                              </tr>
                              <tr>
                                  <td>18 x 18</td>
                                  <td>24</td>
                                  <td>22</td>
                              </tr>
                              <tr>
                                  <td>20 x 20</td>
                                  <td>24</td>
                                  <td>22</td>
                              </tr>
                              <tr>
                                  <td>24 x 24</td>
                                  <td>24</td>
                                  <td>22</td>
                              </tr>
                              <tr>
                                  <td>24 x 36</td>
                                  <td>24</td>
                                  <td>22</td>
                              </tr>
                          </tbody>
                        </table>
                  </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>