<div class="animated fadeIn">
	<tabset>
		<tab heading="Overview">
			<div class="card card-block card-outline-primary ">
				<h4 class="card-title card-accent-primary">Overview</h4><br />
				<div class="card-text">
          <b>Double-Wall, Insulated Round and Flat Oval Duct and Fittings</b><br />
          <p>McGill AirFlow's double-wall, insulated duct and fittings provide exceptional noise and thermal control in air handling systems. They are constructed of a solid sheet metal outer pressure shell and a sheet metal inner liner with a layer of insulation sandwiched between.</p>
          <p>We offer double-wall, round duct in three outer shell constructions: spiral lockseam, spiral lockseam with a standing rib, and longitudinal seam. Double-wall, flat oval duct is available in spiral lockseam and longitudinal seam constructions.</p>
				</div>
        <div class="media">
            <div class="media-left">
                <img src="assets/img/swroduct/construction.jpg">
            </div>
            <div class="media-body">
            </div>
	      </div>				
        <div class="card-text">
          <br />
					<p>Our standard double-wall duct and fittings have galvanized sheet metal outer walls and a layer of fiberglass insulation surrounding the inner liner. The insulation is available as standard fiberglass or Acousti-Line™ insulation with an acrylic coating that resists air erosion of fibers and the growth of fungus and bacteria. Standard duct has a perforated metal inner liner, while standard fittings have a solid metal inner liner. Options include other thicknesses and types of insulation, stainless steel and aluminum outer walls, and specification of solid-wall or perforated-wall inner liners as nonstandard items.</p>
          <p>These options and the numerous sheet metal gauges that are available enable McGill AirFlow to provide double-wall duct and fittings for a wide range of environments, including hospitals, laboratories, food and pharmaceutical plants, and corrosive industrial areas. We also supply systems to convey hot air and gases, even when temperatures exceed 1,000°F.</p>
				</div>
			</div>
		</tab>
		<tab heading="Double-Wall, Round Duct">
			<div class="card card-block card-outline-primary ">
				<h4 class="card-title card-accent-primary">Double-Wall, Round Duct</h4><br />
				<div class="card-text">
          <b>Double-Wall, Round Duct</b><br />
          <p>McGill AirFlow's double-wall, round duct is fabricated to exacting tolerances that make it easy to assemble and essentially leak free. This insulated duct provides excellent acoustical and thermal control with the efficient airflow performance of single-wall round duct. Three standard types of double-wall, round duct are available: spiral lockseam (Acousti-k27®), spiral lockseam with a standing rib (Uni-Rib-k27®), and longitudinal seam (Longitudinal Seam-k27®).</p>
				</div>
        <div class="media">
            <div class="media-left">
                <img src="assets/img/dwroduct/dwrductgroup.jpg">
            </div>
            <div class="media-body">
            </div>
	      </div>				
        <div class="card-text">
					<br />
					<p>Spiral lockseam duct is constructed with an interlocking helical seam that runs the length of the duct's outer pressure shell. This seam increases the duct's structural strength and rigidity so that it can be used in lighter gauges than rectangular or longitudinal seam duct, making it less expensive, easier to handle, and easier to install. Another factor which makes spiral lockseam duct economical is that it can be fabricated in lengths of 20 feet or greater. These longer sections of duct mean fewer joints and faster installation.</p>
          <p>Spiral lockseam duct is available with a standing rib on the outer pressure shell. This external stiffening rib gives the duct strength and rigidity equal to that of heavier gauges of standard spiral lockseam duct.</p>
          <p>Longitudinal seam duct is available for applications that require very heavy gauges or large diameters. The longitudinal seam of the duct's outer pressure shell is solid welded.</p>
				</div>
        <div class="card-text">
					<hr>
					<b>Double-Wall, Round Duct Available Sizes, Materials, and Thicknesses</b>
          <div class="">
            <table cellpadding=5>
                <thead>
                    <tr><td colspan="6"><h6>Acousti-k27® Duct (spiral lockseam)</h6></td></tr>
                    <tr class="mcgill-mediumblue">
                        <td colspan="3">Inner Liner Diameters<sup>2,6,7</sup></td>
                        <td rowspan="3">Lengths<sup>3</sup></td>
                        <td rowspan="3">Materials<sup>4,5,8</sup></td>
                        <td rowspan="3">Thicknesses<sup>6</sup></td>
                    </tr>
                    <tr class="mcgill-mediumblue">
                        <td colspan="3">Insulation Thickness<sup>1</sup></td>
                    </tr>
                    <tr class="mcgill-mediumblue">
                        <td>1-inch</td>
                        <td>2-inch</td>
                        <td>3-inch</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2">3-82 inches</td>
                        <td rowspan="2">3-80 inches</td>
                        <td rowspan="2">3-78 inches</td>
                        <td rowspan="2">1-20 feet</td>
                        <td>Galvanized Steel</td>
                        <td>28-14 gauge</td>
                    </tr>
                    <tr>
                        <td>Stainless Steel</td>
                        <td>26-20 gauge</td>
                    </tr>
                    <tr>
                        <td>3-58 inches<sup>6</sup></td>
                        <td>3-56 inches<sup>6</sup></td>
                        <td>3-54 inches<sup>6</sup></td>
                        <td>1-20 feet</td>
                        <td>Aluminum</td>
                        <td>0.025-0.063 inch<sup>6</sup></td>
                    </tr>
                </tbody>
            </table>
        </div><br />
        <div class="">
            <table cellpadding=5>
                <thead>
                    <tr><td colspan="6"><h6>Uni-Rib-k27® (spiral lockseam with standing rib)</h6></td></tr>
                    <tr class="mcgill-mediumblue">
                        <td colspan="3">Inner Liner Diameters<sup>2,6,7</sup></td>
                        <td rowspan="3">Lengths<sup>3</sup></td>
                        <td rowspan="3">Materials<sup>4,5,8</sup></td>
                        <td rowspan="3">Thicknesses<sup>6</sup></td>
                    </tr>
                    <tr class="mcgill-mediumblue">
                        <td colspan="3">Insulation Thickness<sup>1</sup></td>
                    </tr>
                    <tr class="mcgill-mediumblue">
                        <td>1-inch</td>
                        <td>2-inch</td>
                        <td>3-inch</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2">7-58 inches</td>
                        <td rowspan="2">5-56 inches</td>
                        <td rowspan="2">3-54 inches</td>
                        <td rowspan="2">1-20 feet</td>
                        <td>Galvanized Steel</td>
                        <td>28-22 gauge</td>
                    </tr>
                    <tr>
                        <td>Aluminum</td>
                        <td>0.025-0.050 inch</td>
                    </tr>
                </tbody>
            </table>
        </div><br />
        <div class="">
            <table cellpadding=5>
                <thead>
                    <tr><td colspan="6"><h6>Longitudinal Seam-k27® Duct (solid welded)</h6></td></tr>
                    <tr class="mcgill-mediumblue">
                        <td colspan="3">Inner Liner Diameters<sup>2,6,7</sup></td>
                        <td rowspan="3">Lengths<sup>3</sup></td>
                        <td rowspan="3">Materials<sup>4,5,8</sup></td>
                        <td rowspan="3">Thicknesses<sup>6</sup></td>
                    </tr>
                    <tr class="mcgill-mediumblue">
                        <td colspan="3">Insulation Thickness<sup>1</sup></td>
                    </tr>
                    <tr class="mcgill-mediumblue">
                        <td>1-inch</td>
                        <td>2-inch</td>
                        <td>3-inch</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2">8-88 inches<sup>7</sup></td>
                        <td rowspan="2">8-86 inches<sup>7</sup></td>
                        <td rowspan="2">8-84 inches<sup>7</sup></td>
                        <td rowspan="2">1-6 feet</td>
                        <td>Galvanized Steel</td>
                        <td>20-10 gauge</td>
                    </tr>
                    <tr>
                        <td>Stainless Steel</td>
                        <td>22-10 gauge</td>
                    </tr>
                    <tr>
                        <td>8-82 inches<sup>6,7</sup></td>
                        <td>8-80 inches<sup>6,7</sup></td>
                        <td>8-78 inches<sup>6,7</sup></td>
                        <td>1-6 feet</td>
                        <td>Aluminum</td>
                        <td>0.040-0.090 inch<sup>6</sup></td>
                    </tr>
                </tbody>
            </table>
          </div><br />
          <div class="">
              <table cellpadding=5>
                  <thead>
                      <tr>
                          <td colspan="4"><h6>Uni-Rib®<br />(spiral lockseam with standing rib)</h6></td>
                      </tr>
                      <tr class="mcgill-mediumblue">
                          <td>Diameters<sup>1</sup></td>
                          <td>Lengths<sup>2</sup></td>
                          <td>Materials<sup>3,6</sup></td>
                          <td>Thicknesses</td>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td rowspan="2">9-60 inches</td>
                          <td rowspan="2">1-20 feet</td>
                          <td>Galvanized Steel</td>
                          <td>28-22 gauge</td>
                      </tr>
                      <tr>
                          <td>Aluminum</td>
                          <td>0.025-0.050 inch</td>
                      </tr>
                  </tbody>
              </table>
          </div><br />
          <div class="col-xs-12">
              <p class="small"><u>Notes</u></p>
              <ol>
                <li class="small">Standard insulation density is 1.0 pcf.</li>
                <li class="small">Except as noted, McGill AirFlow double-wall, round duct and fittings are available with the following outer shell dimensions: 5-inch through 15-inch diameters in 1/2-inch-diameter increments, 16-inch through 38-inch diameters in 1-inch-diameter increments, and 40-inch through 90-inch diameters in 2-inch-diameter increments. Standard fitting liners are solid metal. Standard insulation is fiberglass.</li>
                <li class="small">Standard lengths of round Acousti-k27 and Uni-Rib-k27 duct are 10, 12, and 20 feet; longer lengths are available. Standard lengths of round Longitudinal Seam k-27 duct are 5 and 6 feet.</li>
                <li class="small">Double-wall, round duct and fittings are also available in carbon steel, paintable galvanized steel, types 304 and 316 stainless steel, and type 3003-H14 aluminum.</li>
                <li class="small">Uni-Coat® double-wall, round duct and fittings (polyvinyl-chloride-coated galvanized steel) are available on special order.</li>
                <li class="small">Aluminum double-wall, round duct and fittings are available in larger diameters and greater metal thicknesses on special order.</li>
                <li class="small">Round Longitudinal Seam-k27 duct is available with inner liners less than 8 inches in diameter on special order.</li>
                <li class="small">SilverGuard™ double-wall, round duct and fittings (pre-coated with an antimicrobial) are available on special order.</li>
              </ol>
          </div>
				</div>
			</div>
		</tab>
		<tab heading="Double-Wall, Round Fittings">
			<div class="card card-block card-outline-primary ">
				<h4 class="card-title card-accent-primary">Double-Wall, Round Fittings</h4><br />
				<div class="card-text">
          <b>Double-Wall, Round Fittings</b><br />
          <p>A complete line of fittings designed for low leakage and efficient performance is available for use with McGill AirFlow's double-wall, round duct. Each fitting is sized accurately to allow easy field assembly. Fittings are available in solid welded, spot or tack welded and sealed, lap and riveted (or screwed) and sealed, and standing seam constructions.</p>
				</div>
        <div class="media">
            <div class="media-left">
                <img src="assets/img/dwroduct/dwrfitting_grp.jpg">
            </div>
            <div class="media-body">
            </div>
	      </div>
        <div class="card-text">
					<hr>
					<b>Double-Wall, Round Fittings Available Sizes, Materials, and Thicknesses</b>
          <div class="card-text">
            <table cellpadding=5>
                <thead>
                    <tr><td colspan="5"><h6>Acousti-k27® Fittings</h6></td></tr>
                    <tr class="mcgill-mediumblue">
                        <td colspan="3">Inner Liner Diameters<sup>2,5</sup></td>
                        <td rowspan="3">Materials<sup>3,4,7</sup></td>
                        <td rowspan="3">Thicknesses<sup>5</sup></td>
                    </tr>
                    <tr class="mcgill-mediumblue">
                        <td colspan="3">Insulation Thickness<sup>1</sup></td>
                    </tr>
                    <tr class="mcgill-mediumblue">
                        <td>1-inch</td>
                        <td>2-inch</td>
                        <td>3-inch</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2">3-88 inches</td>
                        <td rowspan="2">3-86 inches</td>
                        <td rowspan="2">3-84 inches</td>
                        <td>Galvanized Steel</td>
                        <td>26-10 gauge</td>
                    </tr>
                    <tr>
                        <td>Stainless Steel</td>
                        <td>26-10 gauge</td>
                    </tr>
                    <tr>
                        <td>3-82 inches<sup>5</sup></td>
                        <td>3-80 inches<sup>5</sup></td>
                        <td>3-78 inches<sup>5</sup></td>
                        <td>Aluminum</td>
                        <td>0.032-0.090 inch<sup>5</sup></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">spot or tack welded and sealed, lap and riveted/screwed and sealed, solid welded, or standing seam</td>
                    </tr>
                </tfoot>
            </table><br />
          </div>
          <div class="col-xs-12">
              <p class="small"><u>Notes</u></p>
              <ol>
                <li class="small">Standard insulation density is 1.0 pcf.</li>
                <li class="small">Except as noted, McGill AirFlow double-wall, round duct and fittings are available with the following outer shell dimensions: 5-inch through 15-inch diameters in 1/2-inch-diameter increments, 16-inch through 38-inch diameters in 1-inch-diameter increments, and 40-inch through 90-inch diameters in 2-inch-diameter increments. Standard fitting liners are solid metal. Standard insulation is fiberglass.</li>
                <li class="small">Double-wall, round duct and fittings are also available in carbon steel, paintable galvanized steel, types 304 and 316 stainless steel, and type 3003-H14 aluminum.</li>
                <li class="small">Uni-Coat® double-wall, round duct and fittings (polyvinyl-chloride-coated galvanized steel) are available on special order.</li>
                <li class="small">Aluminum double-wall, round duct and fittings are available in larger diameters and greater thicknesses on special order.</li>
                <li class="small">Fittings made from 16-gauge (Aluminum - 0.090 inch) or heavier are fully welded.</li>
                <li class="small">SilverGuard™ double-wall, round duct and fittings (pre-coated with an antimicrobial) are available on special order.</li>
              </ol>
          </div>
				</div>
			</div>
		</tab>    


		<tab heading="Double-Wall, Flat Oval Duct">
			<div class="card card-block card-outline-primary ">
				<h4 class="card-title card-accent-primary">Double-Wall, Flat Oval Duct</h4><br />
				<div class="card-text">
          <b>Double-Wall, Flat Oval Duct</b><br />
          <p>For applications in which space restrictions prohibit the use of round duct, McGill AirFlow offers double-wall, flat oval duct in spiral lockseam and longitudinal seam constructions. Each piece is constructed of a solid metal pressure shell and a metal inner liner (either perforated or solid metal) with a layer of insulation sandwiched between.</p>
          <p>Flat oval duct provides a more efficient alternative to rectangular duct in applications where space is restricted. McGill AirFlow manufactures flat oval duct with the same techniques used to make round duct. As a result, flat oval duct shares many of the performance characteristics of round duct.</p>
				</div>
        <div class="media">
            <div class="media-left">
                <img src="assets/img/dwroduct/dwfoduct_grp.jpg">
            </div>
            <div class="media-body">
            </div>
	      </div>				
				<div class="card-text">
          <p>Spiral lockseam duct is constructed with an interlocking helical seam that runs the length of the duct's outer pressure shell. As with round spiral lockseam duct, the flat oval type combines efficient performance with a structural strength equal to that of heavier gauges of other types of duct.</p>
          <p>Flat oval duct is available with a longitudinal seam construction for applications that require very heavy gauges or large sizes. The longitudinal seam of the duct's outer pressure shell is solid welded.</p>
				</div>
        <div class="card-text">
					<hr>
					<b>Double-Wall, Flat Oval Duct Available Lengths, Materials, and Thicknesses</b>
          <div class="card-text">
            <table cellpadding=5>
                <thead>
                    <tr><td colspan="3"><h6>Acousti-k27® Duct (spiral lockseam)</h6></td></tr>
                    <tr class="mcgill-mediumblue">
                        <td>Lengths<sup>1</sup></td>
                        <td>Materials<sup>2,4</sup></td>
                        <td>Thicknesses<sup>3</sup></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="3">1-12 feet</td>
                        <td>Galvanized Steel</td>
                        <td>26-18 gauge</td>
                    </tr>
                    <tr>
                        <td>Stainless Steel</td>
                        <td>26-20 gauge</td>
                    </tr>
                    <tr>
                        <td>Aluminum</td>
                        <td>0.025-0.063 inch</td>
                    </tr>
                </tbody>
            </table><br />
            <div>
              <table cellpadding=5>
                <thead>
                    <tr><td colspan="3"><h6>Longitudinal Seam-k27® Duct (solid welded)</h6></td></tr>
                    <tr class="mcgill-mediumblue">
                        <td>Lengths<sup>1</sup></td>
                        <td>Materials<sup>2,4</sup></td>
                        <td>Thicknesses<sup>3</sup></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="3">1-6 feet</td>
                        <td>Galvanized Steel</td>
                        <td>20-10 gauge</td>
                    </tr>
                    <tr>
                        <td>Stainless Steel</td>
                        <td>22-10 gauge</td>
                    </tr>
                    <tr>
                        <td>Aluminum</td>
                        <td>0.040-0.090 inch<sup>3</sup></td>
                    </tr>
                </tbody>
              </table><br />
            </div>
          </div>
          <div class="col-xs-12">
              <p class="small"><u>Notes</u></p>
              <ol>
                <li class="small">Some standard lengths of Acousti-k27 flat oval duct are only available in 6-foot lengths; longer lengths are available on special order. Standard lengths of Longitudinal Seam-k27 duct are 5 and 6 feet.</li>
                <li class="small">Double-wall, flat oval duct and fittings are also available in carbon steel, paintable galvanized steel, types 304 and 316 stainless steel, and type 3003-H14 aluminum.</li>
                <li class="small">Aluminum double-wall, flat oval duct and fittings are available in larger sizes and greater thicknesses on special order.</li>
                <li class="small">SilverGuard™ double-wall, flat oval duct and fittings (pre-coated with an antimicrobial) are available on special order.</li>
              </ol>
          </div>
				</div>

        <div class="card-text">
					<hr>
					<b>Double-Wall, Flat Oval Duct and Fittings Available Size Ranges</b>
          <div class="card-text">
            <table cellpadding=5>
              <thead>
                  <tr>
                      <td rowspan="5">Minor Axis, Inner Liner (inches)</td>
                      <td colspan="8">Major Axis, Inner Liner (inches)</td>
                  </tr>
                  <tr>
                      <td colspan="6">Spiral Lockseam</td>
                      <td colspan="2">Longitudinal Seam</td>
                  </tr>
                  <tr>
                      <td colspan="3">Minimum</td>
                      <td colspan="3">Maximum</td>
                      <td rowspan="3">Minimum</td>
                      <td rowspan="3">Maximum</td>
                  </tr>
                  <tr>
                      <td colspan="3">Insulation Thickness</td>
                      <td colspan="3">Insulation Thickness</td>
                  </tr>
                  <tr>
                      <td>1 inch</td>
                      <td>2 inch</td>
                      <td>3 inch</td>
                      <td>1 inch</td>
                      <td>2 inch</td>
                      <td>3 inch</td>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>3</td>
                      <td>8</td>
                      <td>8</td>
                      <td>8</td>
                      <td>19</td>
                      <td>19</td>
                      <td>17</td>
                      <td>22</td>
                      <td>30</td>
                  </tr>
                  <tr>
                      <td>4</td>
                      <td>7</td>
                      <td>7</td>
                      <td>7</td>
                      <td>21</td>
                      <td>21</td>
                      <td>21</td>
                      <td>23</td>
                      <td>40</td>
                  </tr>
                  <tr>
                      <td>5</td>
                      <td>8</td>
                      <td>8</td>
                      <td>8</td>
                      <td>21</td>
                      <td>19</td>
                      <td>19</td>
                      <td>24</td>
                      <td>46</td>
                  </tr>
                  <tr>
                      <td>6</td>
                      <td>8</td>
                      <td>8</td>
                      <td>8</td>
                      <td>59</td>
                      <td>59</td>
                      <td>59</td>
                      <td>n/a</td>
                      <td>n/a</td>
                  </tr>
                  <tr>
                      <td>7</td>
                      <td>10</td>
                      <td>10</td>
                      <td>n/a</td>
                      <td>21</td>
                      <td>21</td>
                      <td>n/a</td>
                      <td>23</td>
                      <td>62</td>
                  </tr>
                  <tr>
                      <td>8</td>
                      <td>10</td>
                      <td>10</td>
                      <td>11</td>
                      <td>77</td>
                      <td>77</td>
                      <td>74</td>
                      <td>n/a</td>
                      <td>n/a</td>
                  </tr>
                  <tr>
                      <td>9</td>
                      <td>12</td>
                      <td>n/a</td>
                      <td>n/a</td>
                      <td>23</td>
                      <td>n/a</td>
                      <td>n/a</td>
                      <td>26</td>
                      <td>89</td>
                  </tr>
                  <tr>
                      <td>10</td>
                      <td>12</td>
                      <td>13</td>
                      <td>13</td>
                      <td>79</td>
                      <td>76</td>
                      <td>73</td>
                      <td>84</td>
                      <td>99</td>
                  </tr>
                  <tr>
                      <td>11</td>
                      <td>n/a</td>
                      <td>n/a</td>
                      <td>n/a</td>
                      <td>n/a</td>
                      <td>n/a</td>
                      <td>n/a</td>
                      <td>14</td>
                      <td>109</td>
                  </tr>
                  <tr>
                      <td>12</td>
                      <td>18</td>
                      <td>17</td>
                      <td>17</td>
                      <td>78</td>
                      <td>75</td>
                      <td>75</td>
                      <td>78</td>
                      <td>119</td>
                  </tr>
                  <tr>
                      <td>14</td>
                      <td>20</td>
                      <td>20</td>
                      <td>20</td>
                      <td>77</td>
                      <td>77</td>
                      <td>74</td>
                      <td>84</td>
                      <td>139</td>
                  </tr>
                  <tr>
                      <td>16</td>
                      <td>22</td>
                      <td>22</td>
                      <td>29</td>
                      <td>79</td>
                      <td>76</td>
                      <td>76</td>
                      <td>85</td>
                      <td>143</td>
                  </tr>
                  <tr>
                      <td>18</td>
                      <td>24</td>
                      <td>31</td>
                      <td>31</td>
                      <td>78</td>
                      <td>78</td>
                      <td>75</td>
                      <td>87</td>
                      <td>134</td>
                  </tr>
                  <tr>
                      <td>20</td>
                      <td>33</td>
                      <td>33</td>
                      <td>n/a</td>
                      <td>80</td>
                      <td>77</td>
                      <td>n/a</td>
                      <td>85</td>
                      <td>140</td>
                  </tr>
                  <tr>
                      <td>22</td>
                      <td>35</td>
                      <td>n/a</td>
                      <td>n/a</td>
                      <td>79</td>
                      <td>n/a</td>
                      <td>n/a</td>
                      <td>84</td>
                      <td>134</td>
                  </tr>
                  <tr>
                      <td>24</td>
                      <td colspan="6" rowspan="9">n/a</td>
                      <td>37</td>
                      <td>141</td>
                  </tr>
                  <tr>
                      <td>26</td>
                      <td>29</td>
                      <td>137</td>
                  </tr>
                  <tr>
                      <td>28</td>
                      <td>31</td>
                      <td>144</td>
                  </tr>
                  <tr>
                      <td>30</td>
                      <td>33</td>
                      <td>141</td>
                  </tr>
                  <tr>
                      <td>32</td>
                      <td>35</td>
                      <td>139</td>
                  </tr>
                  <tr>
                      <td>34</td>
                      <td>37</td>
                      <td>138</td>
                  </tr>
                  <tr>
                      <td>36</td>
                      <td>39</td>
                      <td>136</td>
                  </tr>
                  <tr>
                      <td>38</td>
                      <td>41</td>
                      <td>136</td>
                  </tr>
                  <tr>
                      <td>40</td>
                      <td>43</td>
                      <td>143</td>
                  </tr>
              </tbody>
            </table>
          </div>
				</div>
			</div>
		</tab>

		<tab heading="Double-Wall, Flat Oval Fittings">
			<div class="card card-block card-outline-primary ">
				<h4 class="card-title card-accent-primary">Double-Wall, Flat Oval Fittings</h4><br />
				<div class="card-text">
          <b>Double-Wall, Flat Oval Fittings</b><br />
          <p>A complete line of fittings designed for low leakage and efficient performance is available for use with McGill AirFlow's double-wall, flat oval duct. Each fitting is sized accurately to allow easy field assembly. Fittings are available in solid welded, spot or tack welded and sealed, lap and riveted (or screwed) and sealed, and standing seam constructions.</p>
				</div>
        <div class="media">
            <div class="media-left">
                <img src="assets/img/dwroduct/dwfofittings_grp.jpg">
            </div>
            <div class="media-body">
            </div>
	      </div>				
        <div class="card-text">
					<hr>
					<b>Double-Wall, Flat Oval Fittings Available Materials, and Thicknesses</b>
          <div class="card-text">
            <table cellpadding=5>
              <thead>
                  <tr><td colspan="2"><h6>Acousti-k27® Fittings<sup>3</sup></h6></td></tr>
                  <tr class="mcgill-mediumblue">
                      <td>Materials<sup>1,4</sup></td>
                      <td>Thicknesses<sup>2</sup></td>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Galvanized Steel</td>
                      <td>26-10 gauge</td>
                  </tr>
                  <tr>
                      <td>Stainless Steel</td>
                      <td>26-10 gauge</td>
                  </tr>
                  <tr>
                      <td>Aluminum</td>
                      <td>0.032-0.090 inch<sup>2</sup></td>
                  </tr>
              </tbody>
              <tfoot>
                  <tr>
                      <td colspan="2">spot or tack welded and sealed, lap and riveted/screwed and sealed, solid welded, or standing seam</td>
                  </tr>
              </tfoot>
            </table><br />
          </div>
          <div class="col-xs-12">
              <p class="small"><u>Notes</u></p>
              <ol>
                <li class="small">Double-wall, flat oval duct and fittings are also available in carbon steel, paintable galvanized steel, types 304 and 316 stainless steel, and type 3003-H14 aluminum.</li>
                <li class="small">Aluminum double-wall, flat oval duct and fittings are available in larger sizes and greater thicknesses on special order.</li>
                <li class="small">Fittings made from 16-gauge (Aluminum - 0.090 inch) or heavier are fully welded.</li>
                <li class="small">SilverGuard™ double-wall, flat oval duct and fittings (pre-coated with an antimicrobial) are available on special order.</li>
              </ol>
          </div>
				</div>

        <div class="card-text">
					<hr>
					<b>Double-Wall, Flat Oval Duct and Fittings Available Size Ranges</b>
          <div class="card-text">
            <table cellpadding=5>
              <thead>
                  <tr>
                      <td rowspan="5">Minor Axis, Inner Liner (inches)</td>
                      <td colspan="8">Major Axis, Inner Liner (inches)</td>
                  </tr>
                  <tr>
                      <td colspan="6">Spiral Lockseam</td>
                      <td colspan="2">Longitudinal Seam</td>
                  </tr>
                  <tr>
                      <td colspan="3">Minimum</td>
                      <td colspan="3">Maximum</td>
                      <td rowspan="3">Minimum</td>
                      <td rowspan="3">Maximum</td>
                  </tr>
                  <tr>
                      <td colspan="3">Insulation Thickness</td>
                      <td colspan="3">Insulation Thickness</td>
                  </tr>
                  <tr>
                      <td>1 inch</td>
                      <td>2 inch</td>
                      <td>3 inch</td>
                      <td>1 inch</td>
                      <td>2 inch</td>
                      <td>3 inch</td>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>3</td>
                      <td>8</td>
                      <td>8</td>
                      <td>8</td>
                      <td>19</td>
                      <td>19</td>
                      <td>17</td>
                      <td>22</td>
                      <td>30</td>
                  </tr>
                  <tr>
                      <td>4</td>
                      <td>7</td>
                      <td>7</td>
                      <td>7</td>
                      <td>21</td>
                      <td>21</td>
                      <td>21</td>
                      <td>23</td>
                      <td>40</td>
                  </tr>
                  <tr>
                      <td>5</td>
                      <td>8</td>
                      <td>8</td>
                      <td>8</td>
                      <td>21</td>
                      <td>19</td>
                      <td>19</td>
                      <td>24</td>
                      <td>46</td>
                  </tr>
                  <tr>
                      <td>6</td>
                      <td>8</td>
                      <td>8</td>
                      <td>8</td>
                      <td>59</td>
                      <td>59</td>
                      <td>59</td>
                      <td>n/a</td>
                      <td>n/a</td>
                  </tr>
                  <tr>
                      <td>7</td>
                      <td>10</td>
                      <td>10</td>
                      <td>n/a</td>
                      <td>21</td>
                      <td>21</td>
                      <td>n/a</td>
                      <td>23</td>
                      <td>62</td>
                  </tr>
                  <tr>
                      <td>8</td>
                      <td>10</td>
                      <td>10</td>
                      <td>11</td>
                      <td>77</td>
                      <td>77</td>
                      <td>74</td>
                      <td>n/a</td>
                      <td>n/a</td>
                  </tr>
                  <tr>
                      <td>9</td>
                      <td>12</td>
                      <td>n/a</td>
                      <td>n/a</td>
                      <td>23</td>
                      <td>n/a</td>
                      <td>n/a</td>
                      <td>26</td>
                      <td>89</td>
                  </tr>
                  <tr>
                      <td>10</td>
                      <td>12</td>
                      <td>13</td>
                      <td>13</td>
                      <td>79</td>
                      <td>76</td>
                      <td>73</td>
                      <td>84</td>
                      <td>99</td>
                  </tr>
                  <tr>
                      <td>11</td>
                      <td>n/a</td>
                      <td>n/a</td>
                      <td>n/a</td>
                      <td>n/a</td>
                      <td>n/a</td>
                      <td>n/a</td>
                      <td>14</td>
                      <td>109</td>
                  </tr>
                  <tr>
                      <td>12</td>
                      <td>18</td>
                      <td>17</td>
                      <td>17</td>
                      <td>78</td>
                      <td>75</td>
                      <td>75</td>
                      <td>78</td>
                      <td>119</td>
                  </tr>
                  <tr>
                      <td>14</td>
                      <td>20</td>
                      <td>20</td>
                      <td>20</td>
                      <td>77</td>
                      <td>77</td>
                      <td>74</td>
                      <td>84</td>
                      <td>139</td>
                  </tr>
                  <tr>
                      <td>16</td>
                      <td>22</td>
                      <td>22</td>
                      <td>29</td>
                      <td>79</td>
                      <td>76</td>
                      <td>76</td>
                      <td>85</td>
                      <td>143</td>
                  </tr>
                  <tr>
                      <td>18</td>
                      <td>24</td>
                      <td>31</td>
                      <td>31</td>
                      <td>78</td>
                      <td>78</td>
                      <td>75</td>
                      <td>87</td>
                      <td>134</td>
                  </tr>
                  <tr>
                      <td>20</td>
                      <td>33</td>
                      <td>33</td>
                      <td>n/a</td>
                      <td>80</td>
                      <td>77</td>
                      <td>n/a</td>
                      <td>85</td>
                      <td>140</td>
                  </tr>
                  <tr>
                      <td>22</td>
                      <td>35</td>
                      <td>n/a</td>
                      <td>n/a</td>
                      <td>79</td>
                      <td>n/a</td>
                      <td>n/a</td>
                      <td>84</td>
                      <td>134</td>
                  </tr>
                  <tr>
                      <td>24</td>
                      <td colspan="6" rowspan="9">n/a</td>
                      <td>37</td>
                      <td>141</td>
                  </tr>
                  <tr>
                      <td>26</td>
                      <td>29</td>
                      <td>137</td>
                  </tr>
                  <tr>
                      <td>28</td>
                      <td>31</td>
                      <td>144</td>
                  </tr>
                  <tr>
                      <td>30</td>
                      <td>33</td>
                      <td>141</td>
                  </tr>
                  <tr>
                      <td>32</td>
                      <td>35</td>
                      <td>139</td>
                  </tr>
                  <tr>
                      <td>34</td>
                      <td>37</td>
                      <td>138</td>
                  </tr>
                  <tr>
                      <td>36</td>
                      <td>39</td>
                      <td>136</td>
                  </tr>
                  <tr>
                      <td>38</td>
                      <td>41</td>
                      <td>136</td>
                  </tr>
                  <tr>
                      <td>40</td>
                      <td>43</td>
                      <td>143</td>
                  </tr>
              </tbody>
            </table>
          </div>
				</div>
			</div>
		</tab>
    <tab heading="Acoustical Benefits">
        <div class="card card-block card-outline-primary ">
            <h4 class="card-title card-accent-primary">Acoustical Benefits of Double-Wall, Insulated Duct and Fittings</h4><br />
            <div class="card-text">
                <p><b>Performance Ratings</b></p>
                <p>Through extensive testing in acoustical laboratories, we have generated a large database of insertion losses and airflow-generated sound power levels for our double-wall duct and fittings. Such information is essential for optimizing noise control in air handling systems. Our Uni-Duct® computer-aided duct system design program, which is equipped with this data, makes it easy to analyze the acoustical design of an air handling system while simultaneously analyzing and balancing the airflow performance of the system.</p>
            </div>
            <div class="card-text">
                <p><b>High Sound-Transmission Loss</b></p>
                <p>Noise traveling along a duct path can radiate through the walls of the duct and fittings. Sheet metal duct walls have higher sound-transmission loss than lightweight duct materials such as fiberglass duct board and flexible duct. Acoustical laboratory tests show that in similar sizes and shapes our double-wall duct and fittings can reduce radiated noise by 25 dB or more, compared with fiberglass duct board, and by 30 dB or more, compared with insulated flexible duct.</p>
                <p>Our double-wall duct and fittings also control radiated noise better than similar sizes and shapes of externally insulated sheet metal duct. The internal insulation continuously reduces the noise flowing along the duct path, while external insulation has little or no effect on this noise. With external insulation, excessive noise travels undiminished throughout the duct system and can radiate into rooms or areas served by the system.</p>
            </div>
            <div class="card-text">
                <p><b>Fan Noise Reduction</b></p>
                <p>Fan noise can travel to every air outlet and inlet in an air handling system and create unacceptable noise levels in the rooms or areas served by the system. Our double-wall duct and fittings provide exceptional control of fan noise, often eliminating the need for additional duct silencers.</p>
            </div>
            <div class="card-text">
                <p><b>Reduced Airflow-Generated Noise</b></p>
                <p>The insulation in our double-wall duct and fittings is located outside the duct system's air passage, where it can absorb sound without interfering with the airflow. Duct silencers, on the other hand, interfere with the airflow. Turbulent airflow at the inlet and outlet of a silencer generates noise that can create acoustical problems upstream and downstream of the silencer. With our double-wall duct, there is very little airflow-generated noise. In fact, the insulation continuously reduces what noise there is, effectively creating an air handling system that is quieter than a single-wall system.</p>
            </div>
            <div class="card-text">
                <p><b>Flanking-Path and Cross-Talk Noise Control</b></p>
                <p>When a duct system passes through noisy environments such as mechanical equipment rooms and production areas, its walls can pick up flanking-path noise and convey it to other areas served by the duct system. Openings in duct systems (for example, diffusers, registers, and grilles) allow even low-level background noise into the duct system where it can be conveyed to other openings and radiate outward as cross-talk noise. The internal insulation of our double-wall duct begins absorbing external noise as soon as it enters the duct system, effectively preventing the duct system from becoming a speaking tube.</p>
            </div>
        </div>
    </tab>
    <tab heading="Thermal Benefits">
        <div class="card card-block card-outline-primary ">
            <h4 class="card-title card-accent-primary">Thermal Benefits of Double-Wall, Insulated Duct and Fittings</h4><br />
            <div class="card-text">
                <p><b>Control of Heat Loss and Heat Gain</b></p>
                <p>The insulation in double-wall duct and fittings acts as a thermal barrier, increasing a duct system's effectiveness by helping to maintain the temperature of heated or cooled air being ducted through the system. McGill AirFlow's standard 1-inch layer of insulation has a maximum thermal conductance of 0.27 Btu/hr/ft2/°F. Where lower thermal conductance values are desired, we also offer double-wall duct and fittings with insulation thicknesses of 2 inches (0.13 Btu/hr/ft2/°F) and 3 inches (0.09 Btu/hr/ft2/°F).</p>
            </div>
            <div class="card-text">
                <p><b>External Condensation Control</b></p>
                <p>Condensation can form on the outside of duct systems that convey cold air, especially at times during the summer when the ambient relative humidity is high and a large temperature differential exists between the inside and outside of the duct system. Our standard 1-inch-thick insulation prevents external condensation in all but the most extreme combinations of relative humidity and temperature differential. For extreme conditions, we can supply 2- and 3-inch-thick insulation to prevent condensation and the water damage it can cause. External insulation does not always prevent condensation problems because duct hangers and external reinforcements penetrate the insulation, often resulting in localized external condensation.</p>
            </div>
            <div class="card-text">
                <p><b>Integral Vapor Barrier</b></p>
                <p>The sheet metal outer shell of our double-wall duct and fittings serves as an integral and permanent vapor barrier to prevent moisture from condensing in the insulation. The vapor barriers of externally insulated duct systems usually are thin plastic or metal foil membranes that are difficult to seal properly, especially where there are penetrations for hanger rods, straps, and external reinforcement. With double-wall duct, all hangers and reinforcements are attached outside the vapor barrier, so there are no penetrations. The integrity of our vapor barrier is checked during installation when the duct system is pressure tested for leaks. If air cannot leak out, condensation cannot get in. Vapor barriers for external insulation are rarely checked.</p>
            </div>
        </div>
    </tab>

    <tab heading="Mechanical Benefits">
        <div class="card card-block card-outline-primary ">
            <h4 class="card-title card-accent-primary">Mechanical Benefits of Double-Wall, Insulated Duct and Fittings</h4><br />
            <div class="card-text">
                <p><b>Damage Protection</b></p>
                <p>Our sheet metal outer shell protects the insulation from damage during construction and maintenance. In outdoor applications, it protects the insulation from damage caused by sun, wind, rain, snow, oxidation, and other environmental factors.</p>
            </div>
            <div class="card-text">
                <p><b>Antimicrobial Coatings</b></p>
                <p>McGill AirFlow offers two types of antimicrobial protection with our double-wall duct and fittings. Acousti-Line insulation is available with an acrylic coating formulated with an antimicrobial agent that is EPA registered. The coating resists the growth of fungus and bacteria, as determined by tests in accordance with ASTM C 1071 and ASTM G21 and G22. For added protection against microbial growth, the coated surface can be cleaned according to the procedures detailed in the North American Insulation Manufacturers Association (NAIMA) Duct Cleaning Guide. Our double-wall product line is also available as SilverGuard™ duct and fittings. SilverGuard ductwork is pre-coated with an antimicrobial compound. It is a second line of defense in the control of bacteria, molds, mildew and other fungi found in HVAC duct systems. The inner wall of the outer shell and both walls of the inner shell can be coated.</p>
            </div>
            <div class="card-text">
                <p><b>Fire Safety</b></p>
                <p>The sheet metal walls of our double-wall duct and fittings are noncombustible and not prone to penetration by fire. The surface burning characteristics of the insulation are equal to or lower than the acceptable maximum values given in the National Fire Protection Association (NFPA) standard 90A.</p>
            </div>
            <div class="card-text">
                <p><b>Appearance</b></p>
                <p>Double-wall duct and fittings are ideal for use in architecturally exposed applications. The sheet metal outer shell has a uniform, finished appearance, and it can be painted to match or complement its surroundings. Externally insulated duct systems have unattractive surfaces that are susceptible to damage and difficult to paint.</p>
            </div>
            <div class="card-text">
                <p><b>Internal Erosion Protection</b></p>
                <p>High airflow velocities and turbulent air streams can erode internal insulation. The sheet metal inner liner in our double-wall duct and fittings protects the insulation. For applications where fiber erosion is of special concern, we can supply Acousti-Line™ insulation with an erosion-resistant acrylic coating. Our standard double-wall duct has been tested at an independent laboratory according to UL-181 standard duct testing procedures for impact and erosion resistance at an internal airflow velocity of 10,000 feet per minute. These tests showed no evidence of insulation erosion and, according to UL-181, our double-wall duct is rated for airflow velocities up to 4,000 feet per minute.</p>
            </div>
            <div class="card-text">
                <p><b>Low Friction and Dynamic Pressure Loss</b></p>
                <p>The inner liner in a double-wall system presents a uniform cross section for airflow, resulting in nominal pressure losses essentially equal to those of single-wall duct and fittings. Since sheet metal screws used in the assembly of double-wall duct are hidden in the insulation, they do not project into the airstream where they can increase pressure loss. We install insulation in our double-wall duct and fittings at the factory, reducing your field-installation time by eliminating the job of applying external insulation. The components of a double-wall duct system are joined by specially designed double-wall slip couplings and fitting collars. These have an extended inner collar so that the inner liners can be mated before the outer shells are mated. This two-step assembly procedure eliminates alignment problems during installation. For more detailed information about installation, refer to our Installation of Double-Wall Duct and Fittings brochure.</p>
            </div>
            <div class="card-text">
                <p><b>Automatic Expansion Joint</b></p>
                <p>The inner liners of our double-wall duct and fittings slip fit together and do not need to be securely attached to each other. They are free to expand and contract at the slip-fit joint, providing an automatic expansion joint when there are temperature changes inside the duct system.</p>
            </div>
        </div>
    </tab>

	</tabset>
</div>