<div class="animated fadeIn">
    <tabset>
        <tab heading="Overview">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Mobile Duct Machines—Fast, On-Site Production of Round Spiral Duct</h4><br />
                <div class="card-text">
                    <p>McGill AirFlow can save you money with our Uni-Duct duct system design service. We use our state-of-the-art Uni-Duct software to perform time-consuming design work for you. It designs duct systems that have the lowest possible material and operating costs. Uni-Duct provides the most efficiently balanced and sized duct system designs available.</p>
                    <p>Each Mobile Duct Machine has been designed to meet the needs of the installation contractor. It quickly fabricates varying lengths of spiral duct in diameters from 3 to 72 inches. The contractor can control the amount and dimensions of the duct as it is fabricated, thereby eliminating waste and the need for storage. Only one person is needed to operate the machine. Other workers can install the finished product immediately, without wasting time unloading the factory-fabricated duct from delivery trucks.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/onsitemfg/mobileUse.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <h6>Key Advandages of a Mobile Duct Machine</h6>
                    <ul>
                      <li>Reduces material handling costs by eliminating the need to unload delivery trucks or stage materials.</li>
                      <li>Reduces freight expenses.</li>
                      <li>Eliminates time spent waiting for materials to be delivered.</li>
                      <li>Eliminates potential for damaged, lost, or late delivered materials.</li>
                      <li>Can be moved to different locations on the jobsite.</li>
                      <li>Improves project scheduling.</li>
                    </ul>
                </div>
                <div class="card-text">
                    <p><b>Note:</b> If you would like to see the Mobile Duct Machine in action, contact the McGill AirFlow sales location nearest you and ask for a personal viewing of the informative Mobile Duct Machine video.</p>
                </div>
            </div>
        </tab>
        <tab heading="Photo Tour">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Mobile Duct Machines — A photo tour</h4><br />
                <div class="card-text">
                    <p>Each self-contained Mobile Duct Machine is equipped with an air compressor, welding machine, steel decoiler, heating, and lighting. A separate truck-mounted electrical generator is also available.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/onsitemfg/mobile_operating.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>The Mobile Duct Machines use a pneumatic or hydraulic handling table, which allows the operator to deliver the duct directly into the hands of the contractor.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/onsitemfg/mobile_handlTbl.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>Each mobile unit is equipped with a 2-ton overhead crane for easy and convenient material handling.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/onsitemfg/mobile_hoist.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>The 45-foot Mobile Duct Machines can be moved easily to indoor work areas.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/onsitemfg/mobile_open.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p><b>Note:</b> If you would like to see the Mobile Duct Machine in action, contact the McGill AirFlow sales location nearest you and ask for a personal viewing of the informative Mobile Duct Machine video.</p>
                </div>
            </div>
        </tab>
        <tab heading="Available Sizes">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Standard Diameters/Thicknesses Available</h4><br />
                <div class="card-text">
                  <table cellpadding=5>
                      <thead>
                          <tr><td colspan="2">Galvanized Steel</td></tr>
                          <tr>
                              <th>Diameter (inches)</th>
                              <th>Gauge<sup>*</sup> (inches)</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>3-14.5</td>
                              <td>26 (0.022)</td>
                          </tr>
                          <tr>
                              <td>15-26</td>
                              <td>24 (0.028)</td>
                          </tr>
                          <tr>
                              <td>27-36</td>
                              <td>22 (0.034)</td>
                          </tr>
                          <tr>
                              <td>37-50</td>
                              <td>20 (0.040)</td>
                          </tr>
                          <tr>
                              <td>52-60</td>
                              <td>18 (0.052)</td>
                          </tr>
                          <tr>
                              <td>62-72</td>
                              <td>16 (0.064)</td>
                          </tr>
                      </tbody>
                      <tfoot>
                          <tr><td colspan="2"><sup>*</sup>Maximum thickness: 13 gauge</td></tr>
                      </tfoot>
                  </table>
                  <br />
                  <table cellpadding=5>
                    <thead>
                        <tr><td colspan="2">Stainless Steel</td></tr>
                        <tr>
                            <th>Diameter (inches)</th>
                            <th>Gauge<sup>*</sup> (inches)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3-26</td>
                            <td>26 (0.019)</td>
                        </tr>
                        <tr>
                            <td>27-36</td>
                            <td>24 (0.025)</td>
                        </tr>
                        <tr>
                            <td>37-50</td>
                            <td>22 (0.031)</td>
                        </tr>
                        <tr>
                            <td>52-72</td>
                            <td>20 (0.037)</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr><td colspan="2"><sup>*</sup>Maximum thickness: 16 gauge</td></tr>
                    </tfoot>
                  </table>
                  <br />
                  <table cellpadding=5>
                    <thead>
                        <tr><td colspan="2">Aluminum</td></tr>
                        <tr>
                            <th>Diameter (inches)</th>
                            <th>Gauge<sup>*</sup> (inches)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3-14</td>
                            <td>0.025</td>
                        </tr>
                        <tr>
                            <td>15-26</td>
                            <td>0.032</td>
                        </tr>
                        <tr>
                            <td>27-36</td>
                            <td>0.040</td>
                        </tr>
                        <tr>
                            <td>37-50</td>
                            <td>0.050</td>
                        </tr>
                        <tr>
                            <td>52-72</td>
                            <td>0.063</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr><td colspan="2"><sup>*</sup>Maximum thickness: 0.063 inch</td></tr>
                    </tfoot>
                  </table>
                  <br />
                </div>
                <div class="card-text">
                    <p><b>Note:</b> If you would like to see the Mobile Duct Machine in action, contact the McGill AirFlow sales location nearest you and ask for a personal viewing of the informative Mobile Duct Machine video.</p>
                </div>               
            </div>
        </tab>     
    </tabset>
</div>