<div class="animated fadeIn">
    <tabset>
        <tab heading="Product Alerts">
            <div class="card card-block card-outline-primary ">
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/productAlert_LD.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>Click the links to view the documents.</p>
                    <a href="assets/literature/productAlert_LD.pdf" target="_blank">Leak Detective Smoke Delivery Systems</a><br />
                </div>
            </div>
        </tab>
        <tab heading="Tech Bulletins">
            <div class="card card-block card-outline-primary ">
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/techBulletin33.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>Click the links to view the documents.</p>
                    <a href="assets/literature/techBulletin33.pdf" target="_blank">Tech Bulletin #3.3 - Selecting a Duct Leakage Test Apparatus</a><br /><br />
                    <a href="assets/literature/techBulletin3.2.pdf" target="_blank">Tech Bulletin #3.2 - System Leakage Comparison</a><br /><br />
                    <a href="assets/literature/techBulletin3.pdf" target="_blank">Tech Bulletin #3.1 - What is an Allowable Duct System Leakage Specification?</a><br /><br />
                    <a href="assets/literature/techBulletin2.pdf" target="_blank">Tech Bulletin #2 - New IECC Commercial R-Value Compliance</a><br /> Insulation R-Value changes proposed by the IECC will effect your specification of insulated ductwork.<br /><br />
                    <a href="assets/literature/techBulletin1.pdf" target="_blank">Tech Bulletin #1 - Simpler Designs Can Be Better Designs</a> This Tech Bulletin shows how over-engineering can cause problems rather than provide solutions.<br />
                </div>
            </div>
        </tab>
        <tab heading="Design Advisories">
            <div class="card card-block card-outline-primary ">
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/designAdvisory11.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>Click the links to view the documents.</p>
                    <a href="assets/literature/designAdvisory11.pdf" target="_blank">Design Advisory #11 - Rectangular Duct Systems Are Not Cheaper Than Spiral Flat Oval Duct Systems!</a><br /><br />
                    <a href="assets/literature/Chapter09.pdf" target="_blank">Design Advisory #10 - How Does Room Effect Affect Room Acoustics?</a><br /><br />
                    <a href="assets/literature/Chapter08.pdf" target="_blank">Design Advisory #9 - Designing Quietly</a><br /><br />
                    <a href="assets/literature/Chapter07.pdf" target="_blank">Design Advisory #8 - What's that Noise?</a><br /><br />
                    <a href="assets/literature/Chapter06.pdf" target="_blank">Design Advisory #7 - Don't Touch that Damper!</a><br /><br />
                    <a href="assets/literature/Chapter05.pdf" target="_blank">Design Advisory #6 - Adaptable Exhaust Systems Can Offer Cost Savings</a><br /><br />
                    <a href="assets/literature/Chapter04.pdf" target="_blank">Design Advisory #5 - Exhaust and Return Duct Systems are Not Equal!</a><br /><br />
                    <a href="assets/literature/designAdvisory4.pdf" target="_blank">Design Advisory #4 - This proof-of-concept shows how gasketed fittings saves on assembly costs.</a><br /> (Self-Sealing Fittings Save Up to 30 to 40 Percent Assembly Time)<br /><br />
                    <a href="assets/literature/Chapter03.pdf" target="_blank">Design Advisory #3 - Product Substitutions Not Always a Value</a><br /><br />
                    <a href="assets/literature/Chapter02.pdf" target="_blank">Design Advisory #2 - Excellent Duct System Designs Require Design, Not Guesswork!</a><br /><br />
                    <a href="assets/literature/Chapter01.pdf" target="_blank">Design Advisory #1 - The Fundamentals of Duct System Design</a><br /><br />

                </div>
            </div>
        </tab>
        <tab heading="Trend Briefs">
            <div class="card card-block card-outline-primary ">
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/TrendBrief2.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>Click the links to view the documents.</p>
                    <a href="assets/literature/TrendBrief2.pdf" target="_blank">Trend Brief #2 - Closed Cell Foam - An Acceptable Acoustical Duct Lining?</a><br /> Get the pros and cons before making your specification.<br /><br />
                    <a href="assets/literature/silverGuard_WP.pdf" target="_blank">Trend Brief #1 - The Role of Antimicrobial-Coated Ductwork in Indoor Air Quality.</a><br /> Learn how antimicrobial ductwork such as McGill's SilverGuard™ duct inhibits microbial growth and contributes to improving indoor air quality.<br />
                </div>
            </div>
        </tab>
    </tabset>
</div>