<div class="animated fadeIn">
    <tabset>
        <tab heading="Applications & Benefits">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Uni-Quick™ Movable Duct System - Dust Collection and Material Handling Applications</h4><br />
                <div class="card-text">
                    <p>Ideal for fume, dust and material handling systems in laboratories, shops, and process manufacturing facilities requiring frequent rerouting of the ductwork due to process changes, McGill AirFlow's Uni-Quick duct system lowers the cost of installation and minimizes downtime when moving systems. Uni-Quick is designed to quickly assemble, disassemble, and reassemble to meet changing application requirements. Standard construction is applicable for +10 to -30 wg systems. Contact McGill AirFlow for applications exceeding those conditions.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/uniquick/assembly3.jpg">
                    </figure>
                </div>
            </div>
        </tab>
        <tab heading="Components & Sizes">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Uni-Quick™ Components & Sizes</h4><br />
                <div class="card-text">
                    <p>Comprised of round sheet metal duct with standard roll-lipped ends, McGill's Uni-Quick system is supplied in standard and heavy gauge metal. Elbows (pleated, welded, and tube), branches (single and double), T- and Y-connectors, in-cuts, and cut-offs enable designers to develop optimal configurations.</p>
                    <p>Various adapters and reducers, butterfly valves, floor sweeps, ball joints, and flex hoses are easily connected, quickly and securely, using welded, O-ring-lined, snap-on clamps. Blast gates with automatic controls permit tuning configurations to application-specific airflow requirements. Radial arm hoods, No-Loss stack heads, bellmouths, in-line back blasts, and vibration dampers are available to meet all requirements. Standard O-ring gaskets are made from Buna-N, which is temperature resistant to a maximum of 250°F. Other O-ring materials include hi-temp red silicone (max 500°F), and FDA food-grade rubber, Goretex®, and Viton® for oil mist applications (all max 250°F).</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/uniquick/assembly2.jpg">
                    </figure>
                </div>
                <div class="card-text">
                  <h6><p>Sizes</p></h6>
                    <p>Standard round duct in five-foot lengths is offered in 3- to 22-inch (except 21-inches) diameters in one-inch increments in galvanized or stainless steel.</p>
                </div>                
            </div>
        </tab>
        <tab heading="Adjustability">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Uni-Quick™ Adjustability</h4><br />
                <div class="card-text">
                    <p>Adjustable sleeve pipe assemblies maximize flexibility for challenging system configurations. The standard adjustable sleeves are 11 inches long and provide 11 to 18 inches of adjustment. Clamp-on connectors with rubber O-rings ensure airtight seals.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/uniquick/adjustablesleeve.jpg">
                    </figure>
                </div>
            </div>
        </tab>        
        <tab heading="Support System">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Uni-Quick™ Support System</h4><br />
                <div class="card-text">
                    <p>Duct systems are suspended using hangers made from woven-wire cable, which is offered in three load-measured gauges. Hangers are quickly attached using hardened, self-locking metal grips.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/uniquick/hanger.jpg">
                    </figure>
                </div>
            </div>
        </tab>  
        <tab heading="System Component Selection">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Uni-Quick™ Selection Chart</h4><br />
                <div class="card-text">
                  <table cellpadding=5>
                    <thead>
                        <tr>
                            <td>Component</td>
                            <td>Diameters/Configurations</td>
                            <td>Materials</td>
                            <td>Gauges</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Standard Duct, 5-foot lengths</th>
                            <td>3-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>26-20</td>
                        </tr>
                        <tr>
                            <th>Adjustable Sleeve Pipe<br />(standard 11 inches)</th>
                            <td>3-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>26-20</td>
                        </tr>
                        <tr>
                            <th>Clamp</th>
                            <td>3-22 inches (except 21) in 1-inch increments</td>
                            <td>Stainless Steel</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Elbow - Tubed</th>
                            <td>3-8 inches (except 7) in 1-inch increments with standard (1.5) or long (2.5) radii and 45° or 90° bends</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>14</td>
                        </tr>
                        <tr>
                            <th>Elbow - Stitch Welded</th>
                            <td>3-12 inches in 1-inch increments with standard radius (1.5) and 45° or 90° bends</td>
                            <td>Galvanized</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <th>Elbow — Segmented</th>
                            <td>7-22 inches (except 21) in 1-inch increments with standard (1.5) or long (2.5) radii and 30°, 45°, 60°, or 90° bends</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>20-18</td>
                        </tr>
                        <tr>
                            <th>Elbow — Pleated,<br />Non-Welded and Welded</th>
                            <td>3-15 inches in 1-inch increments with standard (1.5) or long (2.5) radii and 30°, 45°, 60°, or 90° bends</td>
                            <td>Galvanized</td>
                            <td>22-20</td>
                        </tr>
                        <tr>
                            <th>Branch - Tee on Taper</th>
                            <td>3-22 inches (except 21) in 1-inch increments with 30°, 45°, or 90° angles</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <th>Double Branch - Tee on Taper</th>
                            <td>3-22 inches (except 21) in 1-inch increments with 30°, 45°, or 90° angles</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <th>Y Branch</th>
                            <td>3-22 inches (except 21) in 1-inch increments with 30°, 45°, or 90° angles</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <th>In-Cut</th>
                            <td>3-22 inches (except 21) in 1-inch increments with 30°, 45°, or 90° angles</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <th>Cut-Off</th>
                            <td>3-22 inches (except 21) in 1-inch increments with 30°, 45°, or 90° angles, full or half</td>
                            <td>Cast Aluminum Frame, Galvanized or Stainless Steel Blades</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Blast Gate - Airtight</th>
                            <td>3-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>14</td>
                        </tr>
                        <tr>
                            <th>Adapter - Straight</th>
                            <td>3-22 inches (except 21) in 1-inch increments, 5 inches long</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>20-24+</td>
                        </tr>
                        <tr>
                            <th>Adapter - Flanged</th>
                            <td>3-22 inches (except 21) in 1-inch increments, 5 inches long</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>20-24+</td>
                        </tr>
                        <tr>
                            <th>Adapter - Hose</th>
                            <td>3-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>20-24+</td>
                        </tr>
                        <tr>
                            <th>Reducer</th>
                            <td>3-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <th>Butterfly Valve</th>
                            <td>3-22 inches (except 21) in 1-inch increments, 11 inches long</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>20-24+</td>
                        </tr>
                        <tr>
                            <th>Rectangular-to-Round Transition</th>
                            <td>3-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>20-18</td>
                        </tr>
                        <tr>
                            <th>Floor Sweep</th>
                            <td>4-8 inches in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <th>Ball Joint</th>
                            <td>3-12 inches in 1-inch increments</td>
                            <td>Galvanized</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>End Cap - Closed End or Bird Screen</th>
                            <td>3-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Rubber Flex Hose</th>
                            <td>2, 2.5, 3-10 inches in 1-inch increments, and 12-24 inches in 2-inch increments </td>
                            <td>Black or Clear Rubber</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Steel Flex Hose - Rigid</th>
                            <td>2, 2.5, 3-10 inches in 1-inch increments, and 12 inches</td>
                            <td>Steel</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Steel Flex Hose - Flexible</th>
                            <td>3-8 inches (except 7) in 1-inch increments</td>
                            <td>Steel</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Hose Clamp</th>
                            <td>2, 3, 4, 5, 6, 8, 10, and 12 inches</td>
                            <td>Steel</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Radial Arm Hood</th>
                            <td>4, 5, and 6 inches</td>
                            <td>Galvanized</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <th>No-Loss Stack Head</th>
                            <td>4-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>24-20</td>
                        </tr>
                        <tr>
                            <th>Vibration Dampener</th>
                            <td>4-10 inches in 1-inch increments and 12-30 inches in 2-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <th>Bellmouth (short radius)</th>
                            <td>4-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <th>Diverter Valve<br />Manual or Automatic</th>
                            <td>4-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Saddle</th>
                            <td>4-22 inches (except 21) in 1-inch increments</td>
                            <td>Galvanized or Stainless Steel</td>
                            <td>16-14</td>
                        </tr>
                        <tr>
                            <th>Hanger</th>
                            <td>Sizes 3-5, includes 15-foot cable, 1 gripper and release pin, (Additional accessories available.)</td>
                            <td>Steel</td>
                            <td></td>
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </tab>


        <tab heading="How it Works">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">The Natural Protection of Silver</h4><br />
                <div class="card-text">
                    <p>Although several organic post-coating systems on today's market offer antimicrobial protection, only SilverGuard™ antimicrobial-coated ductwork from McGill AirFlow offers the natural protection of silver. SilverGuard was the first such product available in the U.S.</p>
                    <p><b>Here's how it works</b></p>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="assets/img/silver/sg_crosssection.jpg">
                    </div>
                    <div class="media-body">
                    </div>
                </div>                
                <div class="card-text">
                    <br />
                    <p>The small amount of moisture present on a table top at ambient conditions is all the moisture needed for microbes to grow — and to cause the antimicrobial compound to begin its work. The zeolite matrix acts as an ion pump, exchanging silver ions with other ions present in moisture. The silver ions penetrate the microbe membrane and prevent RNA/DNA splitting, thereby preventing growth. The ion exchange continues until it reaches a state of equilibrium and does not release additional silver ions until there is a change in the amount of moisture present.</p>
                </div>
            </div>
        </tab>
        <tab heading="Safe and Effective">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Safe and Effective</h4><br />
                <div class="card-text">
                    <p>To fabricate SilverGuard™ ductwork, McGill AirFlow uses coil steel coated with an epoxy that includes the antimicrobial compound. The antimicrobial compound is a patented zeolite (inorganic ceramic) matrix that encapsulates millions of silver ions. This technology is safe and has been proven to be successful in controlling the spread and growth of many types of bacteria, mold, mildew and other fungi.</p>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="assets/img/silver/sg_zeolite.jpg">
                    </div>
                    <div class="media-body">
                    </div>
                </div>                
            </div>
        </tab>
        <tab heading="Tested and Registered">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Tested and Registered</h4><br />
                <div class="card-text">
                    <p>SilverGuard™ duct systems are available with antimicrobial-coated steel. The antimicrobial compound is EPA registered (No. 71277-1-72854). The epoxy coating was tested in accordance with UL 723 and found to have NFPA 90A/90B FS/SD ratings of less than 25/50.</p>
                </div>
            </div>
        </tab>
        <tab heading="Durability">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Long-lasting, Durable Protection</h4><br />
                <div class="card-text">
                    <p>Both the interior and exterior of the steel ductwork are coated by an epoxy film bonded to the metal surface by heat. This clear epoxy coating applied to the outer surface offers additional corrosion protection and a cleanable and paintable surface. Although the antimicrobial compound is only on the interior surface of the SilverGuard™ ductwork, antimicrobial coating of other surfaces can be specified. A translucent blue pigment is added to the coating to indicate what surface is antimicrobial.</p>
                    <p>The controlled release of silver ions by the antimicrobial coating offers long-lasting, durable protection. For most types of microorganisms, the antimicrobial-treated surfaces will be virtually free of microbial growth in three to four hours — and the antimicrobial benefit lasts as long as the coating remains on the steel.</p>
                </div>
            </div>
        </tab>
        <tab heading="Cleaning and Maintaining">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Easy to Clean and Maintain</h4><br />
                <div class="card-text">
                    <p>Cleaning and maintaining the surface of an antimicrobial-coated product is easy — just apply a mild detergent with a soft sponge or cloth, rinse, then let air dry. There's no need for abrasives. They should be avoided to prevent coating damage. But a small scratch on the coating won't affect the product's efficacy. The silver ions will diffuse and migrate to the bacteria or microbes within the scratch as the active silver bridges the gap. The silver ions can bridge up to a 1/4-inch gap. Any repairs and touch-ups are easily made using SilverGuard epoxy paint.</p>
                </div>
            </div>
        </tab>
        <tab heading="Welded Joints">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Welded Joints? - No Problem!</h4><br />
                <div class="card-text">
                    <p>Coatings applied to both galvanized and stainless steels have been formulated to allow the metal to be pressed, drawn, bent, roll formed and otherwise fabricated into parts, without the loss of the coating or reduction in efficacy.</p>
                    <p>Both spot-welded and fully welded joints are possible without the need to remove the epoxy coating. Small scratches or weld burns through the epoxy coating will not impact efficacy, since the silver ions still diffuse and migrate within the scratch.</p>
                </div>
            </div>
        </tab>
        <tab heading="Availability">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Product Availability</h4><br />
                <div class="media">
                    <div class="media-left">
                        <img src="assets/img/silver/silvrgrd_group.jpg">
                    </div>
                    <div class="media-body">
                    </div>
                </div>                
                <div class="card-text">
                    <p>SilverGuard™ is available in all of McGill AirFlow's duct and fitting types and constructions, including round, flat oval, and rectangular, single-wall, single-wall lined, and double-wall lined duct and fittings.</p>
                    <p>Standard materials are G-60 galvanized steel and S304 stainless steel. All duct and fittings will have metal thicknesses and reinforcements in conformance with the 1995 SMACNA HVAC Duct Construction Standards, as prescribed in McGill AirFlow's individual dimension booklets for specific duct types.</p>
                </div>
            </div>
        </tab>
        <tab heading="FAQ">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Questions and Answers</h4><br />
                <div class="card-text">
                    <p><b>What is SilverGuard ductwork?</b></p>
                    <p>SilverGuard ductwork was developed as a second line of defense in the fight against bacteria, mold, mildew and other fungi residing in HVAC duct systems. To fabricate SilverGuard ductwork McGill AirFlow uses coil steel pre-coated with an epoxy that includes the antimicrobial compound.</p>
                    <br />
                </div>
                <div class="card-text">
                    <p><b>What is the antimicrobial compound?</b></p>
                    <p>The antimicrobial compound is a patented zeolite that encapsulates millions of silver ions. Silver, a natural protective element, has been used for over 6,000 years for food and beverage storage. This proven technology is successful in controlling growth of bacteria, mold, mildew and other fungi.</p>
                    <br />
                </div>
                <div class="card-text">
                    <p><b>How does the antimicrobial compound work?</b></p>
                    <p>Moisture is the trigger. As little moisture as is present on a table top at ambient conditions is all that is needed for microbes to grow and to cause the antimicrobial compound to work. The zeolite acts as an ion pump exchanging silver ions with other ions (Na+, Ca+, etc.) present in moisture. The ion exchange continues until it reaches a state of equilibrium. The silver ions penetrate the microbe membrane and prevent RNA/DNA splitting, thereby inhibiting growth.</p>
                    <br />
                </div>
                <div class="card-text">
                    <p><b>Where might SilverGuard ductwork be used?</b></p>
                    <p>SilverGuard ductwork is recommended for applications where growth of bacteria, mold, mildew and other fungi are a concern and operating temperatures do not exceed 300°F.</p>
                    <br />
                </div>
                <div class="card-text">
                    <p><b>What type of coating is on the SilverGuard ductwork?</b></p>
                    <p>The antimicrobial compound is incorporated into an epoxy coating which is bonded to the metal surface by heat. Translucent blue pigment is added to the epoxy coating to indicate to what surfaces the compound is applied.</p>
                    <br />
                </div>
                <div class="card-text">
                    <p><b>What surfaces of the SilverGuard ductwork are coated?</b></p>
                    <p>Both the interior and exterior of the steel ductwork are coated. A clear epoxy coating is applied to the outer surface that offers additional corrosion protection and a more cleanable and paintable surface. Only the coating on the interior surface of the ductwork contains the antimicrobial compound, unless otherwise specified.</p>
                    <br />
                </div>
                <div class="card-text">
                    <p><b>Is it necessary to clean SilverGuard ductwork?</b></p>
                    <p>Yes, treated articles must still be cleaned to ensure that the surfaces will be free of a build-up of destructive microbes. It is best to view the SilverGuard ductwork as a second line of defense in the fight against bacteria, mold, mildew and fungus in duct systems.</p>
                    <br />
                </div>
                <div class="card-text">
                    <p><b>How is the coated steel surface cleaned?</b></p>
                    <p>The surface of the SilverGuard ductwork may be cleaned with a mild detergent and a soft sponge or cloth, and then air-dried or dried with a soft cloth. Harsh abrasive cleaners must be avoided in order to prevent damage to the epoxy coating.</p>
                    <br />
                </div>
                <div class="card-text">
                    <p><b>How abrasion resistant is the epoxy coating?</b></p>
                    <p>The abrasion resistance of the epoxy coating is similar to that of countertop plastic laminates.</p>
                    <br />
                </div>
                <div class="card-text">
                    <p><b>If the coating is scratched, will the surface of SilverGuard ductwork still be protected?</b></p>
                    <p>Small scratches or weld burns through the epoxy coating will not adversely impact product efficacy. The silver ions contained within the ceramic matrix can still diffuse and migrate to the microbes within the scratch. The active silver ions can "bridge" up to a 1/4-inch gap. Numerous or wide scratch patterns will reduce the efficacy of the product. Contact the McGill AirFlow sales engineering office nearest you to order SilverGuard ductwork epoxy paint for touch-ups.</p>
                    <br />
                </div>
                <div class="card-text">
                    <p><b>Won't the epoxy coating separate from the steel when it is formed?</b></p>
                    <p>No. Coatings applied to both galvanized and stainless steels have been formulated to allow the metal to be pressed, drawn, bent, roll formed and otherwise fabricated into parts, without loss of the coating or significant effect on the efficacy of the product.</p>
                    <br />
                </div>
                <div class="card-text">
                    <p><b>Can SilverGuard ductwork be welded and repaired?</b></p>
                    <p>Yes, both spot welded and fully welded joints are possible without the need to remove the epoxy coating. Repairs are easily made using the SilverGuard ductwork epoxy paint.</p>
                    <br />
                </div>
                <div class="card-text">
                    <p><b>How long will the antimicrobial compound last?</b></p>
                    <p>The durability of the antimicrobial compound will be determined by the environment. Salt spray, water soak and humidity testing has indicated that the antimicrobial benefit will be present as long as the epoxy coating remains on the steel. However, abrasive conditions that cause wear of the epoxy coating will reduce the period of effectiveness.</p>
                    <br />
                </div>
                <div class="card-text">
                    <p><b>How do I know that the antimicrobial compound is still inhibiting the growth of microbes?</b></p>
                    <p>Controlled laboratory and in-field swab procedures have been developed to show that the antimicrobial compound is still inhibiting the growth of microbes on the interior surfaces of the ductwork. Contact the McGill AirFlow sales engineering office nearest you for more information.</p>
                    <br />
                </div>
                <div class="card-text">
                    <p><b>Is anyone using the antimicrobial compound today?</b></p>
                    <p>Yes, the antimicrobial compound has been used in Japan for about eight years in paints, flooring, kitchenware and various other consumer products. In the United States, this antimicrobial product is being used in footwear, water bottles, clothing and medical applications. Steel coils with an epoxy coating incorporating the antimicrobial compound are now available. SilverGuard antimicrobial pre-coated steel ductwork from McGill AirFlow is the first such product available in the U.S.</p>
                    <br />
                </div>
                <div class="card-text">
                    <p><b>Does the coating on SilverGuard ductwork meet any government or independent standards?</b></p>
                    <p>Yes, the antimicrobial compound is EPA registered (No. 71277-1-72854), and the epoxy coating was tested in accordance with UL 723 and found to have NFPA 90A/90B FS/SD ratings of less than 25/50.</p>
                    <br />
                </div>
                <div class="card-text">
                    <p><b>Do competitive products exist for SilverGuard ductwork?</b></p>
                    <p>Yes. There are several organic post-coating systems available on the market that offer antimicrobial protection. However, the antimicrobial technology is the only one offering the natural protection of silver.</p>
                    <br />
                </div>
                <div class="card-text">
                    <p><b>How do I get the SilverGuard ductwork?</b></p>
                    <p>McGill AirFlow offers SilverGuard ductwork through all its sales engineering offices nationwide. Please contact the McGill AirFlow sales engineering office nearest you for more information.</p>
                    <br />
                </div>
            </div>
        </tab>
        <tab heading="Other Resources">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Literature</h4>
                <a href="assets/img/silver/silverguard_wp.pdf" target="_blank">The Role of Antimicrobial Ductwork in Indoor Air Quality (PDF - 356 kB)</a>
                <br /><br />
                <h4 class="card-title card-accent-primary">Links</h4>
                <ul>
                    <li><a href="http://www.epa.gov/" target="_blank">EPA (Environmental Protection Agency)</a></li>
                    <li><a href="http://nadca.com/en" target="_blank">NADCA (National Air Duct Cleaners Association)</a></li>
                    <li><a href="http://www.smacna.org/" target="_blank">SMACNA (Sheet Metal and Air Conditioning Contractors National Association)</a></li>
                    <li><a href="http://www.iaqa.org/" target="_blank">IAQA (Indoor Air Quality Association)</a></li>
                    <li><a href="http://www.ashrae.org/" target="_blank">ASHRAE (American Society of Heating, Refrigerating, and Air-Conditioning Engineers)</a></li>
                </ul>               
            </div>
        </tab>
    </tabset>
</div>