<div class="animated fadeIn">
    <tabset>
        <tab heading="Overview">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Worker-Controlled Factair™ Terminal Outlets</h4><br />
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/factair/factair_grp.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <p>Most industrial plants use ducted air distribution with low-level discharge for the most efficient heating and cooling of work zones located in large, open areas. The low-level discharge is accomplished through the use of drops from the main air system to the work zone.</p>
                    <p>To effectively use low-level distribution for heating and cooling, positive control of the velocity of the ducted air over the worker is required. Because of the natural variables associated with each individual and the continuing change in ambient conditions, this important velocity level cannot be a preset figure. Ideally, the worker should be able to easily adjust the velocity and air pattern to suit his or her individual comfort needs.</p>
                    <p>The Factair terminal outlet from McGill AirFlow is the first device of its kind to truly allow the worker to control the velocity and pattern of the low-level air being discharged into the work zone.</p>
                </div>
            </div>
        </tab>
        <tab heading="Features">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Factair™ Features</h4><br />
                <div class="card-text">
                    <p>The Factair outlet utilizes unique bell-mouth-like perforations on the air diffusion section of the body. This multitude of closely spaced perforations ensures a diffuse air pattern.</p>
                    <p>The principal feature of the Factair outlet is the wide range of air discharge patterns made possible by adjusting its various components, such as the unique Vari-Damper™ airflow control device. These patterns range from a direct, full-velocity flow through a gradually widening pattern with lower velocity. Workers may control the pattern by setting the Vari-Damper airflow controller in an open, intermediate, or closed position using the easy-to-use, adjustable locking knobs. If desired, the air volume can be shut off completely on Factair models 50 and 100.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/factair/varidamper.jpg">
                    </figure>
                </div>
            </div>
        </tab>
        <tab heading="Air Pattern Selection">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Factair™ Air Pattern Selection</h4><br />
                <div class="card-text">
                    <p>These pictures show an 8-inch diameter Model 100 with 1890 fpm supply velocity and 660 cfm discharge. Air velocity measurements taken at the centerline axis, 2 feet from the unit, were: (A) +1700 fpm; (B) +600 fpm; and (C) -70 fpm.</p>
                </div>
                <div>
                  <p>Figure A.  With the Factair terminal outlet Vari-Damper™ airflow controller fully open, test smoke is projected at full velocity through the base of the outlet in an axial, “straight-down” pattern. Lateral airflow through the barrel perforations is negligible.</p>
                  <figure class="mcgill-picture">
                      <img src="assets/img/factair/patterna.jpg">
                      <figcaption><strong>Fig. A</strong></figcaption>
                  </figure>
                </div>
                <br />
                <div>
                  <p>Figure B.  With the Vari-Damper airflow controller set at an intermediate position, a proportional amount of airflow through the perforations combines with axial flow for a wider air pattern and decreased direct velocity. The wide range of intermediate positions possible with the Vari-Damper airflow controller allows an equally wide range of possible air patterns and velocities.</p>
                  <figure class="mcgill-picture">
                      <img src="assets/img/factair/patternb.jpg">
                      <figcaption><strong>Fig. B</strong></figcaption>
                  </figure>
                </div>
                <br />
                <div>
                  <p>Figure C.  With the Vari-Damper airflow controller completely closed, all of the air is discharged through the barrel perforations, producing a hollow-cone air pattern.</p>
                  <figure class="mcgill-picture">
                      <img src="assets/img/factair/patternc.jpg">
                      <figcaption><strong>Fig. C</strong></figcaption>
                  </figure>
                </div>
            </div>
        </tab>
        <tab heading="Models & Dimensions">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Factair™ Models and Dimensions</h4><br />
                <div class="card-text">
                    <p>There is a Factair model for any desired combination of direction, volume, pattern, or velocity. All four Factair models include the discharge section that combines the perforated barrel and Vari-Damper™ airflow controller at the base. Factair models 75 and 100 include a ball-and-socket swivel joint that permits the worker to adjust the airflow up to 15° in any direction from the centerline axis. Models 50 and 100 include an internal volume damper for flow control.</p>
                </div>
                <div>
                  <figure class="mcgill-picture mcgill-float-left">
                      <img src="assets/img/factair/model100.jpg">
                      <figcaption>
                        <strong>Model 100</strong>
                        <p>Directional Adjustment<br />
                           Volume Control<br />
                           Pattern Control<br />
                           Velocity Control<br />
                        </p>
                      </figcaption>
                  </figure>
                  <figure class="mcgill-picture mcgill-float-left">
                      <img src="assets/img/factair/model75.jpg">
                      <figcaption>
                        <strong>Model 75</strong>
                        <p>Directional Adjustment<br />
                           Pattern Control<br />
                           Velocity Control<br />
                        </p>
                      </figcaption>
                  </figure>
                  <figure class="mcgill-picture mcgill-float-left">
                      <img src="assets/img/factair/model50.jpg">
                      <figcaption>
                        <strong>Model 50</strong>
                        <p>Volume Control<br />
                           Pattern Control<br />
                           Velocity Control<br />
                        </p>
                      </figcaption>
                  </figure>
                  <figure class="mcgill-picture mcgill-float-left">
                      <img src="assets/img/factair/model25.jpg">
                      <figcaption>
                        <strong>Model 25</strong>
                        <p>Volume Control<br />
                           Pattern Control<br />
                        </p>
                      </figcaption>
                  </figure>
                </div>
            </div>
        </tab>
        <tab heading="Materials">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Factair™ Materials of Construction</h4><br />
                <div class="card-text">
                    <p>The standard Factair terminal outlet is constructed from 20-gauge minimum-thickness carbon steel and painted a hammer-tone metallic blue for corrosion protection. Contact the sales engineering office nearest you for information about corrosion resistance.</p>
                    <p>Optional materials include paintable-galvanized steel, 304 stainless steel, 316 stainless steel, and aluminum.</p>
                </div>
            </div>
        </tab>
    </tabset>
</div>