<div class="animated fadeIn">
    <tabset>
        <tab heading="Overview">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Uni-Gasket® Self-Sealing Fittings Reduce Assembly Time and Costs</h4><br />
                <div class="card-text">
                    <p>Uni-Gasket fittings will save you money because they reduce assembly time about 30 to 40 percent by eliminating joint sealing (assembly time excludes the time to hang duct). They feature a single-leg EPDM rubber gasket, held in place with a 180° hemmed edge, that provides a reliable, airtight seal.</p>
                </div>

                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/unigasket/ug_construct.jpg">
                    </figure>
                </div>
                <div class="card-text">
                    <br />
                    <p>Testing has shown that this design meets or exceeds SMACNA's Class 3 for leakage (-20 inches wg to +20 inches wg). Fittings are secured to the duct with self-tapping screws uniformly located around the circumference as per SMACNA standards.</p>
                </div>
            </div>
        </tab>
        <tab heading="Standard Sizes and Gauges">
            <div class="card card-block card-outline-primary ">
              <h4 class="card-title card-accent-primary">Standard Uni-Gasket® Fittings — sizes and gauges</h4><br />
                <div class="card-text">
                    <table cellpadding=5>
                      <thead>
                          <tr>
                              <td colspan="2">Uni-Gasket Single-Wall, Round Fittings</td>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Construction</td>
                              <td>Spot or tack welded and sealed<br />Lap and riveted/screwed and sealed<br />Solid welded<br />Standing seam and lap resistance welded</td>
                          </tr>
                          <tr>
                              <td>Diameters<sup>1</sup></td>
                              <td>3-24 inches</td>
                          </tr>
                          <tr>
                              <td>Materials<sup>3,4</sup></td>
                              <td>Galvanized Steel</td>
                          </tr>
                          <tr>
                              <td>Thicknesses<sup>2</sup></td>
                              <td>26-22 gauge</td>
                          </tr>
                      </tbody>
                    </table><br />
                </div>
                <div class=" small col-xs-12">
                    <p class="small">
                        <u>Notes</u>
                    </p>
                    <ol>
                      <li>Uni-Gasket single-wall, round fittings are available with the following diameters: 3- through 12-inch diameters in 1-inch-diameter increments, and 14- through 24-inch diameters in 2-inch-diameter increments.</li>
                      <li>Uni-Gasket single-wall, round fittings constructed with 20 gauge galvanized steel are available on special order.</li>
                      <li>Uni-Gasket single-wall, round fittings are also available in carbon steel, paintable galvanized steel, and types 304 and 316 stainless steel on special order.</li>
                      <li>Uni-Gasket single-wall, round fittings with SilverGuard™ coating (pre-coated with an EPA registered antimicrobial) are available on special order.</li>
                    </ol>
                </div><br />
                <div class="card-text">
                    <table cellpadding=5>
                      <thead>
                          <tr>
                              <td colspan="2">Uni-Gasket Double-Wall, Round Fittings</td>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Construction</td>
                              <td>Spot or tack welded and sealed<br />Lap and riveted/screwed and sealed<br />Solid welded<br />Standing seam and lap resistance welded</td>
                          </tr>
                          <tr>
                              <td>Insulation Thickness<sup>1</sup><br />1 inch<br />2 inches<br />3 inches</td>
                              <td>Inner Liner Diameters<sup>2</sup><br />3-22 inches<br />3-20 inches<br />3-18 inches</td>
                          </tr>
                          <tr>
                              <td>Materials<sup>5,6</sup></td>
                              <td>Galvanized Steel</td>
                          </tr>
                          <tr>
                              <td>Thicknesses<sup>3,4</sup></td>
                              <td>26-22 gauge</td>
                          </tr>
                      </tbody>
                    </table><br />
                </div>
                <div class=" small col-xs-12">
                    <p class="small">
                        <u>Notes</u>
                    </p>
                    <ol>
                      <li>Standard insulation density is 1.0 pcf.</li>
                      <li>Uni-Gasket double-wall, round duct and fittings are available with the following outer shell dimensions: 5- through 12-inch diameters in 1-inch-diameter increments and 14- through 24-inch diameters in 2-inch-diameter increments. Standard fitting liners are solid metal. Standard insulation is fiberglass.</li>
                      <li>Inner liners for Uni-Gasket double-wall, round fittings are 26 gauge.</li>
                      <li>Uni-Gasket double-wall, round fittings constructed with 20 gauge galvanized steel outer shells are available on special order.</li>
                      <li>Uni-Gasket double-wall, round fittings are also available in carbon steel, paintable galvanized steel, and types 304 and 316 stainless steel on special order.</li>
                      <li>Uni-Gasket double-wall, round fittings with SilverGuard™ coating (pre-coated with an EPA registered antimicrobial) are available on special order.</li>
                    </ol>
                </div>
            </div>
        </tab>
    </tabset>
</div>