<div class="animated fadeIn">
  <tabset>
    <tab heading="Overview">
      <div class="card card-block card-outline-primary ">
        <h4 class="card-title card-accent-primary">Tech Tools</h4>
        <div class="card-text">
          <b>OUR TOOLS ALLOW YOU TO EVAULATE MANY CALCULATIONS:</b>
          <ul>
            <li>Convert Volume Flow Rate</li>
            <li>Convert Duct Types to round, oval, or rectangular</li>
            <li>Pressure Calculations for bursting or collapse</li>
            <li>Support Design checks if supports are well spaced</li>
            <li>Stack Design checks if deflection is within tollerance</li>
            <li>Underground Duct checks for collapse</li>
            <li>Calculate Thermal Data</li>
            <li>Oval/Rect Reinforcement</li>
            <li>Duct-D-Fuser calculates the required duct sections</li>
            <li>Factair calcuates the generated noise levels</li>
            <li>Offset calcuates length of duct between elbows</li>
            <li>Acoustical calculates noise levels</li>
          </ul>
          <b>HOW TO USE:</b>
          <ul>
            <li>Click the tab at the top of the page for the calcualtion you would like to run. After entering all the required
              information, click the appropriate button to see the results.</li>
          </ul>
          <b>RESULTS:</b>
          <ul>
            <li>The results are shown at the bottom of the page and are rounded to various digits.</li>
          </ul>
        </div>
      </div>
    </tab>
    <tab heading="Convert Volume Flow Rate">
      <div class="card card-block card-outline-primary ">
        <h4 class="card-title">Convert Volume Flow Rate</h4>
        <hr class="hr-blue">
        <span>This web tool converts the entered value to cubic feet per minute (cfm) or to liters per second (L/s) depending on your selection after entering a value.</span>
        <hr class="hr-blue" ><br />
        <form novalidate (ngSubmit)="onConvertVolumeFlowRate()" #f="ngForm">
          <div class="form-group row">
            <label class="col-xs-4 col-form-label" for="value-input">Value ({{data.Unit==1?"L/s":"cmf"}})
            </label>
            <div class="col-xs-3">
              <input type="number" class="form-control" [(ngModel)]="data.Value" name="value" #value="ngModel" required greaterThanZero (click)="$event.target.select()"/>
              <div class="alert alert-danger" *ngIf="value.errors && (value.dirty || value.touched )">
                <p *ngIf="value.errors.required">
                    The value is required
                </p>
                <p *ngIf="value.errors.greaterThanZero">
                    Value must be > 0
                </p>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xs-4 col-form-label" >Desired Result in Units</label>
            <div *ngFor="let unit of units">
              <label class="col-xs-2 col-form-label" >
                <input type="radio" id="unit-input" [(ngModel)]="data.Unit" name="unit" [value]="unit.value">{{unit.display}}
              </label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xs-4 col-form-label" >Results: &nbsp;&nbsp; {{data.Result}} &nbsp;&nbsp;{{data.Unit==0?"L/s":"cmf"}}</label>
          </div>
          <div class="form-group row">
            <button [disabled]="f.invalid" type="submit" class="btn-space btn btn-success">Calculate</button> 
          </div>
        </form>
      </div>
    </tab>
    <tab heading="Convert Duct Types">
      <div class="card card-block card-outline-primary ">
        <h4 class="card-title">Convert Duct Types</h4>
        <hr class="hr-blue">
        <span>This web tool converts duct to rectuangular or equivalent round.</span>
        <span>After entering all the needed data, click the Calculate button.</span>
        <hr class="hr-blue" ><br />
        <form (ngSubmit)="onConvertDuctTypes()" #d="ngForm">
          <div class="form-group row">
            <label class="col-xs-4 col-form-label" >Calculation Type</label>
            <div class="col-xs-2" *ngFor="let duct of ducts">
                <input type="radio" id="duct-input" [(ngModel)]="ductConvert.type" name="type" [value]="duct.value">{{duct.display}}
            </div>
          </div>
          <!--Round, type = 0-->
          <div *ngIf="ductConvert.type==0" class="form-group row">
            <label class="col-xs-4 col-form-label" for="diameter-input">Diameter (inches)
            </label>
            <div class="col-xs-3">
              <input type="number" class="form-control" [(ngModel)]="ductConvert.diameter" name="diameter" #diameter="ngModel" required greaterThanZero (click)="$event.target.select()"/>
              <div class="alert alert-danger" *ngIf="diameter.errors && (diameter.dirty || diameter.touched )">
                <p *ngIf="diameter.errors.required">
                    The Diameter is required
                </p>
                <p *ngIf="diameter.errors.greaterThanZero">
                    Diameter must be > 0
                </p>
              </div>
            </div>
          </div>
          <div *ngIf="ductConvert.type==0" class="form-group row">
            <label class="col-xs-4 col-form-label" for="minor-input">Minor Axis (inches)
            </label>
            <div class="col-xs-3">
              <input type="number" class="form-control" [(ngModel)]="ductConvert.minor" name="minor" #minor="ngModel" required greaterThanZero (click)="$event.target.select()"/>
              <div class="alert alert-danger" *ngIf="minor.errors && (minor.dirty || minor.touched )">
                <p *ngIf="minor.errors.required">
                    The Minor is required
                </p>
                <p *ngIf="minor.errors.greaterThanZero">
                    Minor must be > 0
                </p>
              </div>
            </div>
          </div>
          <div *ngIf="ductConvert.type==0" class="form-group row">
            <label class="col-xs-4 col-form-label" for="rect-major-input">Results: &nbsp;&nbsp;
            </label>
            <div class="col-xs-8">
              <span>Rectangular Major: &nbsp; {{ductConvert.result1}} &nbsp; inches</span><br />
              <span>Oval Major: &nbsp; {{ductConvert.result2}} &nbsp; inches</span>
            </div>
          </div>
          <!--Rectuangular, type = 1-->
          <div *ngIf="ductConvert.type==1 || ductConvert.type==2" class="form-group row">
            <label class="col-xs-4 col-form-label" for="rect-minor-input">Rectangular Minor (inches)
            </label>
            <div class="col-xs-3">
              <input type="number" class="form-control" [(ngModel)]="ductConvert.rectMinor" name="rectMinor" #rectMinor="ngModel" required greaterThanZero (click)="$event.target.select()"/>
              <div class="alert alert-danger" *ngIf="rectMinor.errors && (rectMinor.dirty || rectMinor.touched )">
                <p *ngIf="rectMinor.errors.required">
                    The RectMinor is required
                </p>
                <p *ngIf="rectMinor.errors.greaterThanZero">
                    RectMinor must be > 0
                </p>
              </div>
            </div>
          </div>
          <div *ngIf="ductConvert.type==1" class="form-group row">
            <label class="col-xs-4 col-form-label" for="rect-major-input">Rectangular Major (inches)
            </label>
            <div class="col-xs-3">
              <input type="number" class="form-control" [(ngModel)]="ductConvert.rectMajor" name="rectMajor" #rectMajor="ngModel" required greaterThanZero (click)="$event.target.select()"/>
              <div class="alert alert-danger" *ngIf="rectMajor.errors && (rectMajor.dirty || rectMajor.touched )">
                <p *ngIf="rectMajor.errors.required">
                    The RectMajor is required
                </p>
                <p *ngIf="rectMajor.errors.greaterThanZero">
                    RectMajor must be > 0
                </p>
              </div>
            </div>
          </div>
          <div *ngIf="ductConvert.type==1 || ductConvert.type==2" class="form-group row">
            <label class="col-xs-4 col-form-label" for="rect-major-input">Oval Minor (inches)
            </label>
            <div class="col-xs-3">
              <input type="number" class="form-control" [(ngModel)]="ductConvert.ovalMinor" name="ovalMinor" #ovalMinor="ngModel" required greaterThanZero (click)="$event.target.select()"/>
              <div class="alert alert-danger" *ngIf="ovalMinor.errors && (ovalMinor.dirty || ovalMinor.touched )">
                <p *ngIf="ovalMinor.errors.required">
                    The OvalMinor is required
                </p>
                <p *ngIf="ovalMinor.errors.greaterThanZero">
                    OvalMinor must be > 0
                </p>
              </div>
            </div>
          </div>
          <div *ngIf="ductConvert.type==1" class="form-group row">
            <label class="col-xs-4 col-form-label" for="rect-major-input">Results: &nbsp;&nbsp;
            </label>
            <div class="col-xs-8">
              <span>Round Diameter: &nbsp; {{ductConvert.result1}} &nbsp; inches</span><br />
              <span>Oval Major: &nbsp; {{ductConvert.result2}} &nbsp; inches</span>
            </div>
          </div>
          <!--Flat Oval, type = 2-->
          <div *ngIf="ductConvert.type==2" class="form-group row">
            <label class="col-xs-4 col-form-label" for="oval-major-input">Oval Major (inches)
            </label>
            <div class="col-xs-3">
              <input type="number" class="form-control" [(ngModel)]="ductConvert.ovalMajor" name="ovalMajor" #ovalMajor="ngModel" required greaterThanZero (click)="$event.target.select()"/>
              <div class="alert alert-danger" *ngIf="ovalMajor.errors && (ovalMajor.dirty || ovalMajor.touched )">
                <p *ngIf="ovalMajor.errors.required">
                    The OvalMajor is required
                </p>
                <p *ngIf="ovalMajor.errors.greaterThanZero">
                    OvalMajor must be > 0
                </p>
              </div>
            </div>
          </div>
          <div *ngIf="ductConvert.type==2" class="form-group row">
            <label class="col-xs-4 col-form-label" for="rect-major-input">Results: &nbsp;&nbsp;
            </label>
            <div class="col-xs-8">
              <span>Rectangular Major: &nbsp; {{ductConvert.result1}} &nbsp; inches</span><br />
              <span>Oval Major: &nbsp; {{ductConvert.result2}} &nbsp; inches</span>
            </div>
          </div>

          <div class="form-group row">
            <button [disabled]="d.invalid" type="submit" class="btn-space btn btn-success">Calculate</button> 
          </div>
        </form>
      </div>
    </tab>

    <tab heading="McGill AirPressure">
      <div class="card card-block card-outline-primary ">
        <h4 class="card-title card-accent-primary">Locations</h4>
        <div class="card-text">
          <br />
          <b>McGill AirPressure LLC</b>
          <hr> 1777 Refugee Road<br /> Columbus, OH 43207<br /> 614/829-1200
          <br /> Fax: 614/445-8759<br /> sales@mcgillairpressure.com
          <br />
        </div>
        <div class="card-text">
          <br />
          <b>McGill AirPressure Plant</b>
          <hr> 1779 Refugee Road<br /> Columbus, OH 43207<br /> 614/829-1200
          <br /> Fax: 614/829-1319<br /> production@mcgillairpressure.com
          <br />
        </div>
      </div>
    </tab>
    <tab heading="McGill AirSilence">
      <div class="card card-block card-outline-primary ">
        <h4 class="card-title card-accent-primary">Locations</h4>
        <div class="card-text">
          <br />
          <b>McGill AirSilence LLC</b>
          <hr> 2400 Fairwood Avenue<br /> Columbus, OH 43207<br /> 614/829-1200
          <br /> Fax: 614/829-1488<br /> sales@mcgillairsilence.com
          <br />
        </div>
        <div class="card-text">
          <br />
          <b>McGill AirSilence Plant</b>
          <hr> 2400 Fairwood Avenue<br /> Columbus, OH 43207<br /> 614/829-1200
          <br /> Fax: 614/829-1488<br /> production@mcgillairsilence.com
          <br />
        </div>
      </div>
    </tab>
    <tab heading="McGill AirSeal">
      <div class="card card-block card-outline-primary ">
        <h4 class="card-title card-accent-primary">Locations</h4>
        <div class="card-text">
          <br />
          <b>McGill AirSeal LLC</b>
          <hr> 2400 Fairwood Avenue<br /> Columbus, OH 43207<br /> 614/829-1200
          <br /> Fax: 614/829-1488<br /> sales@mcgillairseal.com
          <br />
        </div>
        <div class="card-text">
          <br />
          <b>McGill AirSeal Warehouse</b>
          <hr> Rosecrans Avenue<br /> Santa Fe Springs, CA<br /> 800/624-5535
          <br /> Fax: 614/829-1488<br />
        </div>
      </div>
    </tab>
    <!--<tab *ngFor="let tabz of tabs"
         [heading]="tabz.title"
         [active]="tabz.active"
         (select)="tabz.active = true"
         (deselect)="tabz.active = false"
         [disabled]="tabz.disabled"
         [removable]="tabz.removable"
         (removed)="removeTabHandler(tabz)"
         [customClass]="tabz.customClass">
      {{tabz?.content}}
    </tab>-->
    <!--<tab (select)="alertMe()">
      <template tabHeading>
        <i class="glyphicon glyphicon-bell"></i> Alert!
      </template>
      I've got an HTML heading, and a select callback. Pretty cool!
    </tab>-->
  </tabset>
</div>