<div class="animated fadeIn">
	<app-jumbotron></app-jumbotron>
    <p></p>
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title">McGill AirFlow</h4>
		<p class="card-text">We pioneered the manufacture and use of spiral duct and fittings for heating, ventilating, and air conditioning (HVAC) in the USA. Our extensive lines of duct system products are engineered for performance and economy and continue to set the standard for the industry. We are the country's leading manufacturer of commercial and industrial sheet metal ductwork supported by our nationwide Duct Express fulfillment service and network of sales engineering offices and manufacturing plants.</p>
	</div>
    <p></p>
	<!-- <div class="card card-block card-outline-success ">
        <div class="card-header card-success">
            <h4>News</h4>
        </div>
        <p></p>
		<h5 class="card-title">Heading for First Item</h5>
		<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
        <a href="#" class="btn btn-success">Go somewhere</a>
	</div> -->
</div>