// Here you can add other styles
* {
    -webkit-font-smoothing: none;
}

tabset.locations > .nav-tabs {
    background-color: aliceblue;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 3px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 3px solid #a94442; /* red */
}

.btn-space {
  margin-left: 10px;
  margin-right: 10px;
}

.hr-blue {
  border-color: #20a8d8;
}

table {
    text-align: center;
    color:white;
    border-collapse:collapse;
    border: 1px solid #000;
    margin:4px;
    font-family: 'Roboto', sans-serif;
}

thead {
    background-color: #1171a3;
}

tbody {
    background-color: ButtonShadow;
}

.mcgill-mediumblue {
    background-color:#589CBF;
}

td {
  border:1px solid black;
}

tfoot {
  color:black;
}