<div class="animated fadeIn">
    <tabset>
        <tab heading="Overview">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Exposed Duct Applications</h4><br />
                <div class="media">
                    <div class="media-left">
                        <img src="assets/img/exposed/jackierobinsonschool.jpg">
                    </div>
                    <div class="media-body">
                    </div>
                </div>                
                <div class="card-text">
                    <br />
                    <p>When a duct system is hidden behind walls or ceilings, the only real consideration is how well it performs. But an exposed duct system needs to combine function and form. It should be both an efficient airflow system and an integral part of the building's architectural design. Because appearance is important, an exposed duct system needs to meet high quality standards. Special care must be taken in designing the system, selecting and manufacturing the products, and handling the materials</p>
                    <p>Exposed duct systems are used in many types of buildings, including schools, malls, restaurants, and industrial plants. They can be installed almost anywhere as an alternative to systems hidden by ceilings. Typical applications are in retrofits of old facilities and in buildings with contemporary designs.</p>
                    <p>McGill AirFlow has extensive experience supplying exposed duct systems. We can work with you at all stages of your project, from design through installation. With our engineering and manufacturing capabilities, we can design and supply the exposed duct system that you envision.</p>
                </div>
            </div>
        </tab>
        <tab heading="Design Services">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Exposed Duct—Design Services</h4><br />
                <div class="media">
                    <div class="media-left">
                        <img src="assets/img/exposed/exposeddesign.jpg">
                    </div>
                    <div class="media-body">
                    </div>
                </div>                
                <div class="card-text">
                    <br />
                    <p>McGill AirFlow's Uni-Duct Design Service provides the most advanced duct system design services available. These services can be especially important to exposed duct systems, where visual requirements can limit airflow and acoustical performance. Uni-Duct® designs efficient duct systems with low initial costs and low operating costs. It analyzes the system design acoustically to determine how much noise control is needed. It also provides double-line drawings of the duct system, enabling you to correct potential installation problems during the design stage. Detailed views of duct shape, reinforcement, and hanger support help you visualize how the installed duct system will look.</p>
                    <p>*Free for qualified customers only. Contact a McGill AirFlow sales engineer at a location near you to find out more.</p>
                </div>
            </div>
        </tab>
        <tab heading="Complete Product Line">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Exposed Duct—Product Line</h4><br />
                <div class="card-text">
                    <p>McGill AirFlow supplies a complete line of round, flat oval, and rectangular duct and fittings. With our standard product line and custom fabrication capabilities, we can help you meet your design requirements. Because most exposed duct systems are painted, our standard duct material is paintable galvanized steel. Special duct materials are also available, including stainless steel and aluminum. We can provide samples to show you exactly what you will be getting.</p>
                    <p>For exposed applications, round or flat oval Uni-Rib® spiral duct is the most visually appealing. When the spiral seams are aligned, it gives the appearance of a continuous length of duct. Our Uni-Seam™ ribbed elbows match the appearance of ribbed spiral duct. We can add to the continuous look by reducing the number of duct joints. One way is to fabricate long sections of duct: 20 feet or more for round spiral duct. Another way is to supply manifolds with built-in taps instead of using separate fittings. We can design the manifolds so that all spiral seams line up when installed.</p>
                    <br />
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="assets/img/exposed/virginiaairspace.jpg">
                    </div>
                    <div class="media-body">
                    </div>
                </div>                
                <div class="card-text">
                    <br />
                    <p>Duct connectors, hangers, and reinforcements are a necessary part of any duct system, and we can work with you to develop special designs that minimize their use or make them as inconspicuous as possible. Insulation is often needed for thermal and acoustical control, but it does not have to detract from your visual design. Our single-wall, insulated and Acousti-k27® double-wall, insulated duct have the same external appearance as standard spiral duct.</p>
                </div>
            </div>
        </tab>
        <tab heading="Quality Control">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Exposed Duct—Quality Control</h4><br />
                <div class="card-text">
                    <p>With seven regional manufacturing plants producing ductwork to exacting standards, we can supply uniform, quality products anywhere in the United States. But even the highest quality duct will look bad if it is damaged during shipping. Special handling and shipping practices can protect your ductwork from damage, and a McGill AirFlow representative is available to inspect all materials when they arrive. To minimize shipping and handling, particularly on large projects, we can use our mobile duct machine to fabricate duct on your jobsite. We can provide whatever special handling is necessary to make sure you get a visually pleasing exposed duct system.</p>
                    <br />
                </div>
                <div class="media">
                    <div class="media-left">
                        <img src="assets/img/exposed/ductcrate.jpg">
                    </div>
                    <div class="media-body">
                    </div>
                </div>                
                <div class="card-text">
                    <br />
                    <p>Exposed duct systems can vary considerably in type and quality. Architects and engineers should be very specific about their desires and expectations. McGill AirFlow offers various written recommendations for exposed duct systems, depending on the quality desired and the economic constraints.</p>
                </div>
            </div>
        </tab>
    </tabset>
</div>